<script>
    // import { link } from "svelte-routing";

    export let name = '';
    export let opencategory = null;
</script>

<li class="work__filter" class:selected={name == opencategory}>
    <a class="work__link" href="/champions-breakfast/{name}">
        {name}
    </a>
</li>


<style lang="scss">

    .work {

        &__filters {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            text-transform: capitalize;

            list-style: none;
            padding: 0;
            margin: 0;
        }

        &__filter {
            white-space: nowrap;
            margin-right: rem(30);
            margin-bottom: rem(30);


            &.selected {

                &::after {
                    opacity: 1 !important;
                    transform: scale(1) !important;
                    transition: opacity .6s, transform 0.2s;
                }
            }

            &::after {
                content: '';
                display: block;
                width: rem(6);
                height: rem(6);
                background-color: black;
                border-radius: 50%;
                margin: 5px auto 0 auto;
                opacity: 0;
                transform: scale(0);
            }
        }

        &__link {
            text-decoration: none;
            color: $black;
        }
    }

</style>
