<script>
    import { onMount, onDestroy } from 'svelte';

    export let slug = ''

    export let src = '/assets/test-images/test-image.jpg';

    export let title = ''
    export let subtitle = ''
    export let vimeoId = '';


    async function vimeoInfo() {
        const res = await fetch(`https://vimeo.com/api/v2/video/${vimeoId}.json`)
        const info = await res.json()

        try {
            let item = info.pop()
            return item.thumbnail_large;
        } catch (error) {

        }
    }

    onMount(async () => {
        vimeoInfo(vimeoId).then( data => src = data );
    });

</script>

<div class="wrapper">
    <a href="/champions-breakfast/post/{slug}" class="btn--link">
        <section class="image-video-info work__case">
            <section class="image-video">
                <div class="aspect-ratio" >
                    <figure class="image-wrapper image-wrapper__cover">
                        <img class="image image__cover" {src} alt="">
                    </figure>
                </div>
            </section>
            <div>
                <p><b>{title}</b></p>
                <p>{subtitle}</p>
                <!-- <p>{description}</p> -->
            </div>
        </section>
    </a>
</div>


<style lang="scss">
    p { margin-bottom: 0; }
</style>
