* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  font-size: #{$font-size-base}px;

  @media #{$breakpoint-xl-up} {
    font-size: #{$font-size-base * 1.1}px;
  }

  @media #{$breakpoint-sm-down} {
    font-size: #{$font-size-base * 0.9}px;
  }
}

body {
  font-family: $font-family;
  line-height: $line-height-base;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  color: $black;
  overflow-x: hidden;
  margin: 0;

  font-size: 100%;

  &.no-scroll {
		overflow-y: hidden;
	}
}


img {
  display: block;
  max-width: 100%;
}
