// Minxin Variables
// ------------------------------------------------------------
$grid-columns: 12;
$full-gutter: 10;
$gutter: $full-gutter / 2;

$xs-max: rem(320);
$sm-max: rem(680);
$md-max: rem(1200);
$lg-max: rem(1600);

$content-well-max-width: rem(1300);

// Typography
// ------------------------------------------------------------

$font-family: "NeueHaasGroteskText Pro", sans-serif;
$heading-font-family: "Chronicle";

$line-height-base: 1.5;

$font-size-h1: rem(80);
$font-size-h2: rem(48);
$font-size-h3: rem(35);
$font-size-h4: rem(22);
$font-size-h5: rem(20);
$font-size-h6: rem(16);
$font-size-p:  rem(17);

$light: 300;
$regular: normal; $normal: normal;
$medium: 500;
$semi-bold: 600;
$bold: 700;

// Coustom Colors
// ------------------------------------------------------------
$color-purple: #A7ACFE;
$color-pink: #FFBBA1;
$color-green: #62F5AC;
$color-yellow: #FCF115 ;

// Colors
// ------------------------------------------------------------
$black: #000;
$white: #fff;

$gray-light:  lighten($black, 90);
$gray:        lighten($black, 50);
$gray-dark:   lighten($black, 10);

$primary: $black;
$secondary: $white;

// Borders
// ========================================

// Hamburger
// ========================================

$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 22px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 4px;
$hamburger-layer-color: $black;
$hamburger-layer-border-radius: 1px;
$hamburger-base-opacity: 1;
$hamburger-hover-opacity: 1;
$hamburger-hover-color: $white;

$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// Animation
// ========================================

$bezier: cubic-bezier(0.41, 0.39, 0.26, 1);

// Positioning
// ========================================

$z-up-2: 1000;
$z-up-1: 100;
$z-base: 0;
$z-down-1: -100;
$z-down-2: -1000;
