



// ----------------------------------
// Main Clases

.btn-group {

    > * {
        vertical-align: middle;
    }

    .btn {
        display: inline-block;
        margin-right: rem(10);
    }

    &--center {
        width: 100%;
        text-align: center;

        .btn {
            margin-right: rem(10);
            margin-left: rem(10);

            &:last-child {
                margin-right: rem(0);
            }

            &:first-child {
                margin-left: rem(0);
            }
        }
    }

    &--right {
        text-align: right;

        .btn {
            margin-right: 0;
            margin-left: rem(10);
        }
    }

    &--flex {
        display: flex;
        align-items: center;

        .btn {
            margin-right: 0;
            margin-left: 0;
        }

        .btn__spacer {
            width: 100%;
            flex-grow: 1;
        }
    }
}
