// ----------------------------------
// Mixins

@mixin button-base($bgcolor: $primary, $bghover: null) {
  $bghover_color: if($bghover, $bghover, darken($bgcolor, 15));

  display: block;
  width: auto;
  cursor: pointer;

  line-height: 1;
  font-weight: $bold;
  text-align: center;
  text-decoration: none;

  padding: rem(18) rem(30) rem(15);

  border: 1px solid $bgcolor;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: rem(16);
  // letter-spacing: 1px;

  transition: border 200ms ease, color 200ms ease, background .2s ease;

  background-color: $bgcolor;

  @if (lightness($bgcolor) > 65) {
    color: $black;
  } @else {
    color: $white;
  }

  &:hover {
    background-color: $bghover_color;
    border-color: $bghover_color;
  }
}



// ----------------------------------
// Main Clases

.btn {
  display: inline-block;
  cursor: pointer;


  &--primary {
    @include button-base;
  }

  &--secondary {
    @include button-base($white);

    border: 1px solid $gray-light;
    color: $primary;

  }

  &--plain {
    text-decoration: none;
    color: $primary;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }

  &--link {
    color: $black;
    text-decoration: none;

    &:hover,
    &:active {
      text-decoration: underline;
    }
  }
}

