
// /assets/fonts/NHaasGroteskTXPro-75Bd
@font-face {
  font-family: "NeueHaasGroteskText Pro";
  src: url("/assets/fonts/NHaasGroteskTXPro-75Bd.eot");
  src: url(/assets/fonts/NHaasGroteskTXPro-75Bd.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/NHaasGroteskTXPro-75Bd.woff2) format("woff2"),url(/assets/fonts/NHaasGroteskTXPro-75Bd.woff) format("woff"),url(/assets/fonts/NHaasGroteskTXPro-75Bd.ttf) format("truetype"),url(/assets/fonts/NHaasGroteskTXPro-75Bd.svg#NHaasGroteskTXPro-75Bd) format("svg");
  font-weight: 700;
  font-style: normal;
}

// /assets/fonts/NHaasGroteskTXPro-55Rg
@font-face {
  font-family: "NeueHaasGroteskText Pro";
  src: url(/assets/fonts/NHaasGroteskTXPro-55Rg.eot);
  src: url(/assets/fonts/NHaasGroteskTXPro-55Rg.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/NHaasGroteskTXPro-55Rg.woff2) format("woff2"),url(/assets/fonts/NHaasGroteskTXPro-55Rg.woff) format("woff"),url(/assets/fonts/NHaasGroteskTXPro-55Rg.ttf) format("truetype"),url(/assets/fonts/NHaasGroteskTXPro-55Rg.svg#NHaasGroteskTXPro-55Rg) format("svg");
  font-weight: 400;
  font-style: normal;
}



// /assets/fonts/NHaasGroteskTXPro-55Rg
@font-face {
  font-family: "Chronicle";
  src: url(/assets/fonts/ChronicleDisplay-Roman.eot);
  src: url(/assets/fonts/ChronicleDisplay-Roman.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/ChronicleDisplay-Roman.woff2) format("woff2"),url(/assets/fonts/ChronicleDisplay-Roman.woff) format("woff"),url(/assets/fonts/ChronicleDisplay-Roman.ttf) format("truetype"),url(/assets/fonts/ChronicleDisplay-Roman.svg#NHaasGroteskTXPro-55Rg) format("svg");
  font-weight: 400;
  font-style: normal;
}


// /assets/fonts/NHaasGroteskTXPro-55Rg
@font-face {
  font-family: "Chronicle";
  src: url(/assets/fonts/ChronicleDisplay-Bold.eot);
  src: url(/assets/fonts/ChronicleDisplay-Bold.eot?#iefix) format("embedded-opentype"),url(/assets/fonts/ChronicleDisplay-Bold.woff2) format("woff2"),url(/assets/fonts/ChronicleDisplay-Bold.woff) format("woff"),url(/assets/fonts/ChronicleDisplay-Bold.ttf) format("truetype"),url(/assets/fonts/ChronicleDisplay-Bold.svg#NHaasGroteskTXPro-55Rg) format("svg");
  font-weight: 700;
  font-style: normal;
}

