
form,
.form {
    margin-right: -1rem;

    .input-group {
        margin-top: 1rem;
        margin-right: 1rem;

        &:not(:first-child) {
            // margin-top: rem($full-gutter);

        }
    }
}

