
input {
	width: 100%;
	border: 1px solid $gray-light;
	padding: rem(14);
	border-radius: 3px;

	font-size: rem(20);

	background-color: #FCFCFC;

	&[type="password"] {
		letter-spacing: 4px;
	}
}

::placeholder {
	letter-spacing: 0;
}

select {
	outline: none;
	width: 100%;
	height: rem(50);
}

:focus {
    outline: $primary auto 2px;
}

label, .label {
	color: $black;

	display: block;
	font-weight: $normal;
	font-size: 1rem;
	margin-bottom: rem(10);
}

.input {

	&-group {
		position: relative;

		.suffix,
		.prefix {
			position: absolute;
			bottom: 0;

			padding: 0 rem(19);
			line-height: rem(50);
			height: rem(50);

			text-transform: uppercase;
			display: flex;
			align-items: center;
		}

		.suffix {
			right: 0;
		}

		.prefix {
			left: 0;
		}

		input.hassuffix {
			padding-right: rem(54);
		}

		input.hasprefix {
			padding-left: rem(54);
		}

		&--checkbox {
      		margin-top: 1.5rem !important;

			label {
				display: flex;
				align-items: safe;
				text-transform: none;
				font-weight: $normal;
				font-size: rem($font-size-base);
				letter-spacing: normal;
			}

			.label {
				margin-bottom: -2px;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
        width: 0;
        height: 0;
			}

			.checkmark {
				border: 1px solid $gray-light;
				border-radius: 3px;
				display: flex;
				justify-content: center;
				align-items: center;

				width: rem(25);
        		height: rem(25);

				margin-right: rem(10);

				flex-shrink: 0;

				> svg {
					opacity: 0;
					stroke-dasharray: 25px;
					stroke-dashoffset: 25px;

					transition: stroke-dashoffset 100ms linear;
				}
			}

			input:checked ~ .checkmark {
				> svg {
					opacity: 1;
					stroke-dashoffset: 0px;
				}
			}
		}

		&--radio {
			label {
				display: flex;
				align-items: safe;

				text-transform: none;
				font-weight: $normal;

				font-size: rem($font-size-base);

				letter-spacing: normal;
			}

			input {
				position: absolute;
				opacity: 0;
				cursor: pointer;
				// @include size(0);
			}

			.label {
				@extend .btn;
				width: 100%;
				background-color: $white;
			}

			input:checked ~ .label {
			  background-color: $gray-light;
			  border-color: $primary;
			  opacity: 1;
			}
		}

		&--file {
			.label {
				color: $black;
				opacity: 0.3;
			}

			input {
				position: absolute;
				opacity: 0;
				padding: 0;
				width: 0;
				height: 0;
				border: none;
			}

			label {
				// background-color: #fcfcfc;
				// border: 1px solid $gray-light;

				display: flex;
				// align-items: center;
				// flex-direction: column;

				text-transform: none;
				font-weight: $normal;

				font-size: rem($font-size-base);

				opacity: 1;

				letter-spacing: normal;

				cursor: pointer;

				.input-border {
					background-color: #fcfcfc;
					border: 1px solid $gray-light;

					display: flex;
					width: 100%;

					align-items: center;

					margin-right: 1rem;
					border-radius: 3px;

					svg {
						margin: rem(16);
						margin-top: rem(13);
					}
				}
			}

			.upload-list {
				padding: 0;

				border-radius: 3px;
				overflow: hidden;

				margin-bottom: rem(28);

				font-size: rem(14);

				&:not(.is-visible) {
					display: none;
				}

				.item {
					border: 1px solid $gray-light;
					margin-top: -1px;
					display: flex;
					padding: rem(12);
					align-items: center;

					&:first-child {
						margin-top: 0;
					}

					&:before {
						content: '';
						display: block;
						position: relative;

						width: 22px;
						height: 22px;

						padding: rem(12);

						margin-right: rem(12);

						background-image: url(../img/info.svg);
						background-size: 22px;
						background-position: center;
						background-repeat: no-repeat;
					}

					.contain {
						width: 100%;
					}

					.title {
						font-weight: bold;
					}

					.message {
						opacity: .7;
					}

					&--success {
						.title {
							color: $primary;
						}
						&:before {
							background-image: url(../img/success.svg);
						}
					}

					&--error {
						.title {
							// color: $red;
						}
						&:before {
							background-image: url(../img/error.svg);
						}
					}
				}
			}
		}
	}
}
