html.modal-isopen {
  overflow: hidden;
}

.modal {

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;

  padding: 2rem;

  z-index: 100;

  display: none;
  overflow-y: scroll;

  &.visible {
    display: block;
  }

  &__backdrop {
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100%;
    min-height: 100%;

    background-color: rgba(0,0,0,.4);
  }

  &__inner {
    width: 100%;
    max-width: rem(870);
    background-color: $white;

    margin: auto;
    border-radius: 3px;

    position: relative;
  }

  &__closebtn {
    position: absolute;
    top: 0;
    right: rem(23);
    bottom: 0;
    margin: auto;

    width: 44px;
    height: 44px;

    font-size: 30px;
    line-height: 0;
    font-weight: $light;

    border-radius: 100%;
    border: 1px solid $gray-light;

    cursor: pointer !important;

  }

  &__head {
    position: relative;
    padding: rem(29) 0;
    border-bottom: 1px solid $gray-light;

    h4 {
      margin: 0;
      // line-height: 0.8;
    }
  }

  &__body {
    padding: rem(34) 0 rem(50);
    border-bottom: 1px solid $gray-light;

    .btn-group {
      margin-top: 2rem;
    }
  }
}
