// ----------------------------------
// Mixins




// ----------------------------------
// Main Clases

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $heading-font-family;
    line-height: 1.3;
    margin: 0rem;
    font-weight: $normal;
    display: inline-block;
    color: $black;

    // &:last-child {
    //     margin-bottom: 0;
    // }
}


h1, .h1 {
    font-size: $font-size-h1;
    margin-bottom: 1.5rem;

    @media #{$breakpoint-sm-down} {
      font-size: $font-size-h2;
    }
}

h2, .h2 {
    font-size: $font-size-h2;
    margin-bottom: 1rem;
}

h3, .h3 {
  font-family: $font-family;
  font-size: $font-size-h3;
  font-weight: $bold;
  margin-bottom: 1rem;
}

h4, .h4 {
    font-family: $font-family;
    font-size: $font-size-h4;
    font-weight: $bold;
    margin-bottom: 1rem;
}

h5, .h5 {
    font-family: $font-family;
    font-size: $font-size-h5;
    margin-bottom: 1rem;
}

h6, .h6 {
    font-family: $font-family;
    font-size: $font-size-h5;
    margin-bottom: 1rem;
}

a {
  font-size: $font-size-p;
  line-height: $line-height-base;
  color: $primary;
  text-decoration: none;
}

p {
    font-size: $font-size-p;
    line-height: $line-height-base;
    margin: 0 0 1em;
    font-weight: $regular;

    // @media #{$breakpoint-md-down} {
    //   font-size: rem(20);
    // }

    &:last-child {
        margin-bottom: 0;
    }

    a:not(.basic) {
      background-color: $color-green;
      box-shadow: inset -2px 10px 0 2px $white;
      transition: box-shadow 100ms;

      &:hover {
        box-shadow: inset 10px 10px 0 2px $white;
      }
    }

    a.basic {

      &:hover {
        text-decoration: underline;

      }
    }
}





.muted {
  opacity: 0.5;
}



.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
  &-bold {
      font-weight: $bold;
  }
  &-medium {
      font-weight: $medium;
  }
  &-unbold {
      font-weight: $regular;
  }
  &-nospace {
    margin: 0;
  }
}
