<script>
    // import { link } from "svelte-routing";

    export let slug = '';
    export let src = '';
    export let id = '';
</script>

<div class="wrapper">
    <a href="/blog/item/{slug}" class="btn--link">
        <section class="image-video-info work__case">
            <section class="image-video">
                <div class="aspect-ratio" >
                    <figure class="image-wrapper image-wrapper__cover">
                        <img class="image image__cover" {src} alt="">
                    </figure>
                </div>
            </section>
            <div>
                <p><b> {id}. Vattenfall</b><br>A full brand expression</p>
            </div>
        </section>
    </a>
</div>


<style lang="scss">

</style>
