<script>
    import { colorfulColorScheme, neutralColorScheme } from '../utils/colors.js';
    import { getRandomInt } from '../utils/randomizer.js';
    import { onMount, onDestroy, beforeUpdate } from 'svelte';
    import Section from "Section";
    import Navigation from "Navigation.svelte";
    import Footer from "Footer.svelte";

    export let status
    export let error

    let color;

    color = colorfulColorScheme[getRandomInt(0,colorfulColorScheme.length)];
    color = colorfulColorScheme;

	if( typeof document != 'undefined' && scrollY <= 30 ) document.body.classList.add('menu-transparent');

	onDestroy(async () => {
		if( typeof document != 'undefined' ) document.body.classList.remove('menu-transparent');
	});
</script>

<div class="back">
    <div class="half">
        <div class="text padding-col">
            <h1>oops..</h1>
            <p>We can`t find <b>the</b> page you are looking for</p>
            <a href="/" class="btn">Back to home</a>
        </div>
        <div class="block" style="background: {color[1]};"></div>
    </div>
    <div class="half" style="background: {color[3]};">
        <div class="status">
            <p class='title'>{status}</p>
            <img src="/assets/img/404.gif" alt="">
        </div>
    </div>
</div>

<style lang="scss">
    .message{
        margin-bottom:30px;
    }
    .back {
        display: flex;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        height: 100vh;

        @media #{$breakpoint-md-down} {
            flex-direction: column;
        }

        .half {
            width: 50%;
            display: flex;
            position: relative;
            align-items: center;
            padding-top: rem(140);

            .block {
                position: absolute;
                margin-top: -30%;
                height: 300px;
                width: 80%;
                z-index: -1;
            }

            @media #{$breakpoint-md-down} {
                width: 100%;
            }

            @media #{$breakpoint-sm-down} {
                padding-top: rem(100);
            }
        }

        & > * {
            height: 100%;
        }
    }

    .status {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;

        align-items: center;

        text-transform: uppercase;

        padding-bottom: rem(100);

        img {
            position: absolute;
            width: 80%;
        }
    }

    .title {
        display: block;
        font-size: rem(400);
        font-size:20vw;
        font-weight: bold;
        opacity: 0.1;
        margin: 0;
        width: 100%;
        text-align: center;

        padding-bottom: 15%;

        @media #{$breakpoint-md-down} {
            font-size: rem(120);
            line-height: 1;
        }
    }

    h1 {
        font-family: "NeueHaasGroteskText Pro", sans-serif;
        text-transform: uppercase;
        font-size: 10vw;
        font-weight: bold;

        @media #{$breakpoint-md-down} {
            font-size: rem(80);
        }
    }

    .btn {
        background: #000;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        transition: box-shadow 100ms ease;

        &:hover {
            box-shadow: 0 0 0 2px #000;
        }
    }
</style>
