<script>
    import Navigation from "Navigation.svelte";
    import Footer from "Footer.svelte";
</script>

<Navigation />

<slot></slot>

<Footer />

<style lang="scss" src="../assets/scss/global.scss" global></style>
