<script context="module">
export async function preload({ params, query }) {
    return {
        data : this.fetch(`/case/all.json`)
                .then( res => res.json() )
                .then( v => {
                    let res = Object.values(v);

                    //Filter out all RIMI
                    res = res.filter(el => el.client !== 'Rimi')

                    return res;
                } )
                .catch( err => { console.log(`Error:`,err) } )
    }
}
</script>

<script>
    import Navigation from "Navigation";
    import IntroHero from 'IntroHero.svelte';

    import ItemList from 'Home/ItemList.svelte';
    import BgStickers from 'Home/BgStickers.svelte';

    export let data
</script>

<section class="section--home-intro">
    <IntroHero/>
</section>

<section class="section--home">

    <div class="stickerlist">
        <BgStickers/>
    </div>

    {#await data}
        ..Loading
    {:then items}
        <div class="itemlist">
            <ItemList items={items} />
        </div>
    {:catch error}
        Error: {error}
    {/await}
</section>

<style lang="scss">

    section {
        width: 100%;
        position: relative;
    }

    .section--home-intro {
        width: 100%;
        height: 100%;
        position: relative;

        @media #{$breakpoint-sm-down} {
            height: 50%;
            min-height: 300px;
        }
    }

    .stickerlist {
        position: absolute;
        top: 0;

        height: 100%;
        width: 100%;

        overflow: hidden;
    }

</style>
