<script context="module">
export async function preload(page, session) {
    let { slug } = page.params
    if( typeof slug == 'undefined' ) slug = 'all'

    const res = await this.fetch(`/case/all.json`)
    const items = await res.json()

    return { items , slug }
}
</script>


<script>
    import FilterItems from "./_helpers/FilterItems.svelte";
    import FilterLink from "./_helpers/FilterLink.svelte";

    export let slug = null;
    export let items

    let categories = [
        'all',
        'identity',
        'packaging',
        'digital',
        'strategy',
    ];

</script>

<section class="section work">
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Work</h1>
            </div>
        </div>

        <!-- <div class="col-xs-12">
            <div class="padding-col">
                <ul class="work__filters">
                    {#each categories as cat}
                        <FilterLink name={cat} opencategory={slug} />
                    {/each}
                </ul>
            </div>
        </div> -->

        <div class="col-xs-12">
            <FilterItems {items} opencategory={slug}/>
        </div>

    </div>
</section>

<style lang="scss">

    section {
        padding-top: rem(140);
    }

    .work__filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        text-transform: capitalize;

        list-style: none;
        padding: 0;
        margin: 0;
    }

</style>
