<script>
    import Section from "Section";

    import Item from "./_helpers/Item.svelte";

    let items = [
        {img: '/assets/img/services/image1.jpg', title: 'We are DDB Consulting', body: '<p>We at DDB Consulting keep a finger on the pulse of today’s world. Our job is to know what is happening out there, what is trending and what isn’t. We translate facts and data into consumer, category or world insights. Together with creatives we build a brand story that you can identify with, talk about with friends and take part in.</p>'},
        {img: '/assets/img/services/image2.jpg', title: 'We believe in something called Brand Role', body: '<p>A brand role is a combination of brand character, personality and purpose. To find it we take both an inside-out and an outside-in perspective. We use a combination of quantitative and qualitative research to take a deep dive into your brand’s origins and ambitions, category and market understanding, as well as consumers’ needs and trends that are changing the world.</p>'},
        {img: '/assets/img/services/image3.jpg', title: 'We track how the society is changing', body: '<p>Brand Capital is the most extensive brand and lifestyle research in the Baltics, with an impressive data collection from 2004 up to today. It is a strategic tool that allows you to understand your target audience and make data-driven decisions on brand development, new audience attraction, as well as new product and service ideas and media planning. Our representative sample is more than 2800 respondents, aging from 15 to 74 and going online at least once a week.</p>'},
        {img: '/assets/img/services/image4.jpg', title: 'We move in the current culture stream', body: "<p>Cultural insights allow us to understand people better, and understanding people is everything. We believe that brands and companies will benefit from understanding the culture, which is why we collect cultural insights. We have our own trend library, put together a culture calendar, look for freak facts and follow what's happening on social media. This enables us to move faster on hot topics out there.</p>", picalign:'right',},
        {img: '/assets/img/services/image5.jpg', title: 'We look for answers', body: '<p>A workshop is the perfect way to find insights and come up with new brilliant ideas together with the client. We lead Brand Role, Culture, Brand Capital and Idea workshops to inspire new perspectives for your brand communication.</p>'},
        {img: '/assets/img/services/image6.jpg', title: 'We put everything together in Comms Planning', body: '<p>Our comms plans integrate own, earned and paid media to increase the effectiveness of a campaign. We have found that multi-channel campaigns help build better and stronger brands, so integration has never been more important.</p>'},
    ];


</script>
<Section sectionClass={'hub'}>
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Consulting</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="">
                {#each items as item, index}
                    <Item {...item} index={index}/>
                {/each}
            </div>
        </div>
    </div>
</Section>
