<script>
    import Section from "Section";
    import { onMount, onDestroy } from 'svelte';
    import { colorfulColorScheme, neutralColorScheme } from '../../../utils/colors.js';

    onMount(async () => {
		if( typeof document != 'undefined'  && scrollY <= 30 ) document.body.classList.add('menu-transparent');
	});

	onDestroy(async () => {
		if( typeof document != 'undefined' ) document.body.classList.remove('menu-transparent');
	});
</script>
<span class="contacts"></span>
<Section class="contacts" sectionClass={"contacts"} style="background: {colorfulColorScheme[0]};">
<!-- <section class="section services" > -->
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Contacts</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="padding-col">
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <div class="address">
                            <h3>NORD DDB Riga</h3>
                            <p>
                                Brīvības iela 40-33,<br>
                                Rīga, LV - 1050<br>
                                <a class="basic" href="mailto:magic@ddb.lv">magic@ddb.lv</a><br>
                                <a class="basic" href="tel:0037167288265">+371 67288 265</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 taktous">
                        <h3>TALK TO US</h3>
                        <br>
                        <a class="contact" href="mailto:andris.rubins@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Andris Rubīns</h4>
                            <label class="contactList__title__2klhw">Managing Director</label>
                        </a>
                        <br>
                        <a class="contact" href="mailto:annija.vitola@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Annija Vītola</h4>
                            <label class="contactList__title__2klhw">Account Director and Head of Account team</label>
                        </a>
                        <br>
                        <a class="contact" href="mailto:nora.kirta@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Nora Kirta</h4>
                            <label class="contactList__title__2klhw">Client Service Director</label>
                        </a>
                        <br>
                        <a class="contact" href="mailto:vairis.strazds@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Vairis Strazds</h4>
                            <label class="contactList__title__2klhw">Head of Creative Department</label>
                        </a>
                        <br>
                        <a class="contact" href="mailto:ozolina.berzina@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Ieva Ozoliņa-Bērziņa</h4>
                            <label class="contactList__title__2klhw">Talent Director</label>
                        </a>
                        <br>
                        <a class="contact" href="mailto:kristians.vjakse@lv.ddb.com">
                            <h4 class="contactList__name__1eXsn">Kristiāns Vjakse</h4>
                            <label class="contactList__title__2klhw">Finance Director</label>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row padding-col spacer"></div>
<!-- </section> -->
</Section>


<style lang="scss">
    .address {
        margin-bottom: 2rem;
    }

    .spacer {
        height: rem($gutter*10);
    }

    .contact {
        margin-bottom: rem(20);
    }

    .taktous {
        h3 {
            font-size: rem(12);
            margin-bottom: rem(25);

            @media #{$breakpoint-md-down} {
                font-size: rem(14);
            }
        }
    }

    h1 {
        // text-transform: uppercase;
        // font-weight: $bold;
        // font-family: $font-family;
        margin-bottom: rem(100);

        @media #{$breakpoint-sm-down} {
            margin-bottom: 1.5rem;
        }
    }

    h3 {
        text-transform: uppercase;
    }

    h4 {
        text-transform: uppercase;
        font-size: $font-size-p;
        margin-bottom: 0;
    }
</style>
