<script>
    import FilterItem from "./FilterItem.svelte";
    import _ from 'lodash';

    import { quartInOut, quartOut } from 'svelte/easing';
    import { fade } from 'svelte/transition';
    import { flip } from 'svelte/animate';

    export let opencategory = null;

    export let items

    let categories = []
    let id = 0

    for( let [i,item] of Object.entries(items) ){
        id++
        categories.push({id,...item})
    }

    $: toShow = (opencategory == 'all' || opencategory == null)
        ? categories
        : _.filter(categories, {cat:opencategory});

    let classes = [
        'hor col-xs-12 col-md-7',
        'vert col-xs-12 col-md-5',
        'vert col-xs-12 col-md-5',
        'hor col-xs-12 col-md-7',
    ];

    let animate_params = {delay: 0, duration: 500, easing: quartInOut};
    let transition_params = {delay: 100, duration: 250, easing: quartOut};


</script>

<div class="row">
    {#each toShow as item, i (item)}
        <div animate:flip={animate_params} transition:fade={transition_params} class:shiftup={i%4==2} class="{classes[i%4]} work__case padding-col">
            <FilterItem
                slug={item.slug}
                src={item.cover}
                id={item.id}
                title={item.title}
                description={item.descr}
                client={item.client}
            />
        </div>
    {/each}
</div>

<style lang="scss" global>

    $horzontal-height: 500;
    $vertical-height: 740;

    $horzontal-height--md: 250;
    $vertical-height--md: 370;

    .work__case {
        padding-bottom: rem(20);

        a {
            display: block;

            &:hover {
            text-decoration: none;
            }
        }

        img {
            width: 100%;
            height: auto;

            transition: transform 0.5s;

            object-fit: cover;
            object-position: 50% 50%;
        }

        .wrapper {
            transition: margin 0s 250ms;
        }

        .image-wrapper {
            margin: 1rem 0;
            overflow: hidden;
        }

        &.hor {
            img {

                height: rem($horzontal-height);

                @media #{$breakpoint-md-down} {
                    height: rem($horzontal-height--md);
                }
            }
        }

        &.vert {
            img {

                height: rem($vertical-height);

                @media #{$breakpoint-md-down} {
                    height: rem($vertical-height--md);
                }

                @media #{$breakpoint-sm-down} {
                    height: rem($horzontal-height--md)
                }

            }
        }


        &.shiftup {
            .wrapper {
                // transform: translate(0,rem($horzontal-height - $vertical-height));
                margin-top: rem($horzontal-height - $vertical-height);

                @media #{$breakpoint-md-down} {
                    margin-top: rem($horzontal-height--md - $vertical-height--md);
                }

                @media #{$breakpoint-sm-down} {
                    margin-top: 0;
                }
            }
        }

        &:nth-child(1),
        &:nth-child(2) {
            .wrapper {
                transform: translate(0,0) !important;
            }
        }

        &:hover {
            img {
                transition: transform 0.8s;
                transform: scale(1.05);
            }
        }
    }
</style>
