<script>
    // import { link } from "svelte-routing";

    export let slug = ''
    export let src = ''
    export let id = ''
    export let title = ''
    export let description = ''
    export let client = ''
</script>

<div class="wrapper">
    <a href="/case/{slug}" class="btn--link">
        <section class="image-video-info work__case">
            <section class="image-video">
                <div class="aspect-ratio" >
                    <figure class="image-wrapper image-wrapper__cover">
                        <img class="image image__cover" {src} alt="">
                    </figure>
                </div>
            </section>
            <div>
                <p><b>{title}</b></p>
                <p>{client}</p>
                <!-- <p>{description}</p> -->
            </div>
        </section>
    </a>
</div>


<style lang="scss">
    p { margin-bottom: 0; }
</style>
