<script>
    import { onMount, createEventDispatcher } from 'svelte';

    import { getRandom, randomDate } from "..././../../utils/randomizer.js";
    import { baseColorScheme } from '../../../../utils/colors.js';

    import _ from 'lodash';

    export let data = [];
    export let activeId = [];

    const dispatch = createEventDispatcher();

    let canvas,
        canvasTop,
        chart = null;

    let scrollY;

    let pinned = false;

    // $: loadDataInChart(data)
    $: if (activeId != null) {
        makeDateElemetActive(activeId);
    }

    function parseByName(name, data) {
        const name_x = name+"_x";
        const chartData = {
            name_x: name_x,
            name_y: name,
            x: [],
            y: [],
        }
        const filtered = _.filter(data, {type: name});

        chartData.x = [
            name_x,
            ..._.map(filtered, item => item.startDate.replace(/,/g,'-')),
        ];
        chartData.y = [
            name,
            ..._.map(filtered, item => getRandom(1, 10) )
        ];

        return chartData;
    }

    function loadDataInChart(data) {
        // console.log('loadDataInChart', data, chart);

        if (chart) {
            let history = parseByName('history', data);
            let awards  = parseByName('award'  , data);

            chart.load({
                xs: {
                    history: history.name_x,
                    award  : awards.name_x,
                },
                columns: [
                    history.x,
                    history.y,

                    awards.x,
                    awards.y,
                ],
            });
        }
    }

    function makeDateElemetActive(id) {
        let active = document.querySelector('.circle-isactive');
        if (active !== null) {
            active.classList.remove('circle-isactive');
        }

        let item = _.filter(data,{id:id})[0];

        if (typeof item === 'undefined') {
            return;
        }

        let index = _
            .chain(data)
            .filter({type:item.type})
            .findIndex({id:id})
            .value();

        let element = document.querySelector(`.c3-circles-${item.type} .c3-circle-${index}`);

        element.classList.add('circle-isactive');


    }

    function onWheel(event) {

        if(!pinned && scrollY > canvasTop ) {
            pinned = true;
            chart.resize({height:110})

        } else if ( scrollY < canvasTop && pinned ) {
            pinned = false;
            chart.resize({height:200})
        }
    }

    function handleResize() {}


    function makeC3Chart() {
        if (typeof canvas === 'undefined') {
            return null;
        }
        chart = c3.generate({
            padding: {
                top: 10,
                bottom: 20,
                right: 50,
                left: 50,
            },
            bindto: '#canvas',
            data: {
                type: 'scatter',
                columns: [],
                onclick: onClick,
            },
            axis: {
                x: {
                    type : 'timeseries',
                    show: false,
                },
                y: {
                    show: false,
                }
            },
            legend: {
                show: false
            },
            color: {
                pattern: baseColorScheme,
            },
            tooltip: {
                show: true,
                contents: function (d, defaultTitleFormat, defaultValueFormat, color) {
                    try {
                        let the_d = d[0]
                        let item = _.filter(data,{type:the_d.id})[the_d.index];
                        let year = the_d.x.getFullYear();

                        return `<p>${item.headline}: ${year}</p>`;
                    } catch (error) {}

                    return null;
                }
            },
            // zoom: {
            //     enabled: true
            // }
        });

        if (data) {
            loadDataInChart(data);
        }
    }

    function onClick(d, element) {
        let clickedData = {};

        try {
            clickedData = _.filter(data,{type:d.id})[d.index];
        } catch (error) {}


        dispatch('dataclick',{
            data: clickedData,
            element,
            d
        });
    }

    onMount(() => {
        makeC3Chart();

        setTimeout(() => {
            canvasTop = canvas.getBoundingClientRect().top + window.scrollY;
        }, 300);

    });

</script>

<svelte:window on:scroll={onWheel} bind:scrollY={scrollY} on:resize="{handleResize}"/>

<div class="pinningContainer">
    <div class="container" class:pinned >
        <div class="row chart">
            <div id="canvas" bind:this={canvas}></div>
        </div>
    </div>
</div>

<style lang="scss">

    .chart {
        position: relative;
        width: 100%;
        height: 200px;

        transition: height 100ms ease;
    }

    .pinningContainer {
        height: 200px;
    }

    .container {
        margin-left:-50px;
        margin-right:-50px;
    }

    #canvas {
        width: 100%;
    }

    .pinned {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        .chart {
            height: 110px;
        }
    }


</style>
