<script>
    import Image from '../../../../components/Image.svelte';

    //export let id = 0;
    export let index = 0;
    export let title = '';
    export let body = '';
    export let image = '';

    export let date = new Date();

    let year = date.getFullYear();

    let monthNames = [
        "Janvāris", "Februāris", "Marts",
        "Aprīlis", "Maijs", "Jūnijs", "Jūlijs",
        "Augusts", "Septembris", "Oktobris",
        "Novembris", "Decembris"
    ];

    let dayName = date.getDate() + ' ' + monthNames[date.getMonth()]
</script>

<div class="row">

    {#if index % 2 == 0}
        <div class="col-xs-0 col-md-2">
            <div class="date">
                <p class="bold">{dayName}</p>
                <p class="">{year}. gads</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="image padding-col">
                {#if !image.includes('vimeo')}
                    <Image src={'http://ddb.lv/' + image} />
                {/if}
            </div>
        </div>
        <div class="col-xs-12 col-md-4">
            <div class="text padding-col">
                <h4>{title}</h4>
                <div class="body">
                    {@html body}
                </div>
            </div>
        </div>
    {:else}
        <div class="col-xs-0 col-md-2">
            <div class="date">
                <p class="bold">{dayName}</p>
                <p class="">{year}. gads</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-5 ">
            <div class="text padding-col">
                <h4>{title}</h4>
                <div class="p body">
                    {@html body}
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-md-5 first-xs-only">
            <div class="image padding-col">
                {#if !image.includes('vimeo')}
                    <Image src={'http://ddb.lv/' + image} />
                {/if}
            </div>
        </div>
    {/if}

</div>

<style lang="scss">
    .date {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            margin: 0;
        }

        .bold {
            font-weight: bold;
        }
    }
    .row {
        // border: 1px solid #000;
        padding-bottom: rem(70);

        @media #{$breakpoint-sm-down} {
            padding-bottom: rem(40);
        }
    }
    .text {
        // margin-top: rem(80);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h4 {
            margin-bottom: rem(10);
        }

        @media #{$breakpoint-sm-down} {
            margin-top: rem(20);
        }
    }



    .first-xs-only {
        .image {
            height: 700px;;
        }
        @media #{$breakpoint-sm-down} {
            order: -1;
        }
    }
</style>
