<script>
    import { onMount } from 'svelte';

    const padding = 9;
    const length  = 50;
    const limit   = padding * length / 4;

    let scrollY, height, ruler, items = [];
    let part = 0;

    /**
     * @todo When called flicker in rendered elements.. Should fix that
     */
    function makeItems(initial = false) {
        part = Math.round(scrollY/(padding*length));
        items = [];

        for (let index = 0; index <= length*2; index++) {
            const position = padding * (index - length)
            const offset   = (padding*length)*part
            const item     = position + offset;

            items.push(item);
        }
    }

    onMount(() => {
        makeItems();
    });

    /**
     * Recall every time user scrolled far enough
     */
    $: {
        let wut = Math.abs(scrollY - limit * part);

        if (wut > limit) {
            makeItems();
        }
    }
</script>

<svelte:window bind:scrollY={scrollY} />

<div class="ruler" bind:this={ruler}>
{#each items as item}
    <span class="line" style="top:{item}px"
        class:isnow="{ Math.abs(scrollY - item) < 4.5 }"
        class:isnear="{ Math.abs(scrollY - item) < 4.5*3 }"
        class:isvisible="{ Math.abs(scrollY - item) < 4.5*13 }"
        class:isalmostvisible="{ Math.abs(scrollY - item) < 4.5*23 }"
        class:isanimated="{ Math.abs(scrollY - item) < 4.5*25 }"
    ></span>
{/each}
</div>

<style lang="scss">

    .ruler {
        height: 100%;
        width: 100%;
        position: relative;
        border-left: 1px solid #000;

        overflow: hidden;

        top: 0;
        left: rem(30);

        z-index: -1;;
    }

    .line {
        position: absolute;
        border-bottom: 1px solid #000;
        // border-radius: 2px;
        left: 0;

        width: 8px;
        opacity: 0;
    }

    .isanimated {
        transition: width 150ms, opacity 200ms;
    }

    .isalmostvisible {
        opacity: 0.3;
    }

    .isvisible {
        opacity: 1;
    }

    .isnear {
        width: 16px;
    }

    .isnow {
        width: 40px;
    }
</style>
