<script>
    import Section from "Section";
    import { onMount, onDestroy } from 'svelte';
    import { colorfulColorScheme, neutralColorScheme } from '../../../utils/colors.js';

    import IntroHero from 'IntroHero.svelte';
    import VideoVimeo from 'VideoVimeo.svelte';
    import VideoPlayable from 'VideoPlayable.svelte';

    const video = {
        // videoId: 390755721,
        // coverVideo: "/assets/img/showreel/hero-intro-loop.webm",

        cover: "/assets/img/showreel/hero-intro-loop.webm",
        playable: "/assets/img/showreel/showreel.webm",
    }

    // onMount(async () => {
	// 	if( typeof document != 'undefined'  && scrollY <= 30 ) document.body.classList.add('menu-transparent');
	// });

	// onDestroy(async () => {
	// 	if( typeof document != 'undefined' ) document.body.classList.remove('menu-transparent');
	// });
</script>
<span class="section--home-intro"></span>
<Section sectionClass={"section--home-intro"}>
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Creative</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="image padding-col">
                        <VideoPlayable {...video} />
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="text padding-col">
                        <h4></h4>
                        <div class="body">
                            <p>To break brands into culture you need to get creative. It's a good thing we're a creative agency. We build brand stories. We bring them to life in integrated campaigns.</p>
                            <p>Our showreel is here to give you a peek into our work.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row padding-col spacer"></div>

</Section>


<style lang="scss">

    .padding-col {
        padding-left: 3.3rem;
        padding-right: 3.3rem;
    }

    .spacer {
        height: rem($gutter*20);
    }

    .row {
        margin-bottom: rem(70);

        @media #{$breakpoint-sm-down} {
            margin-bottom: rem(40);
        }
    }
    .text {
        margin-top: rem(80);

        h4 {
            margin-bottom: rem(10);
        }

        @media #{$breakpoint-sm-down} {
            margin-top: rem(20);
        }
    }

    .first-xs-only {
        .image {
            height: 700px;;
        }
        @media #{$breakpoint-sm-down} {
            order: -1;

            .image {
                height: auto;
            }
        }
    }
</style>
