<script context="module">
	// the (optional) preload function takes a
	// `{ path, params, query }` object and turns it into
	// the data we need to render the page
	export async function preload(page, session) {
		// the `slug` parameter is available because this file
		// is called [slug].svelte
		const { slug } = page.params;

		// `this.fetch` is a wrapper around `fetch` that allows
		// you to make credentialled requests on both
		// server and client

		return { slug };
	}
</script>


<script>
    import FilterItems from "./_helpers/FilterItems.svelte";
    import FilterLink from "./_helpers/FilterLink.svelte";

    export let slug = null;

    let categories = [
        'all',
        'blog',
        'stories',
    ];

</script>

<section class="section work">
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Blog Page</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="padding-col">
                <ul class="work__filters">
                    {#each categories as cat}
                        <FilterLink name={cat} opencategory={slug} />
                    {/each}
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <FilterItems opencategory={slug}/>
        </div>

    </div>
</section>

<style lang="scss">

    section {
        padding-top: rem(140);
    }

    .work__filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        text-transform: capitalize;

        list-style: none;
        padding: 0;
        margin: 0;
    }

</style>
