<script context="module">
    import _ from 'lodash';

	// the (optional) preload function takes a
	// `{ path, params, query }` object and turns it into
	// the data we need to render the page
	export async function preload(page, session) {
		// the `slug` parameter is available because this file
		// is called [slug].svelte
		// const { slug } = page.params;

		// `this.fetch` is a wrapper around `fetch` that allows
		// you to make credentialled requests on both
		// server and client
        const res = await this.fetch(`/json/history.json`);
        let historydata = await res.json();

        let history = await _.map(historydata.timeline.date, (item,index) => {
            item.id = index+1;
            return item;
        });

		return { history };
	}
</script>

<script>
    import { onMount } from 'svelte';
    import jq from 'jquery'

    import Section from "../../../components/Section.svelte";

    import Ruler from "./_helpers/Ruler.svelte";
    import Chart from "./_helpers/Chart.svelte";

    import Item from "./_helpers/HistoryItem.svelte";

    export let history;


    let activeId = null;

    function onDataClick(event) {
        if (!window) return;

        const clickedData = event.detail.data;

        console.log('clicedData', clickedData);


        if (typeof clickedData.id !== 'undefined') {
            const cssclass = '.item-' + clickedData.id;
            const elem = jq(cssclass);

            const offset_top = elem.offset().top;
            const item_height = elem.height();

            const wh = jq(window).height();

            activeId = clickedData.id;

            jq('body,html').stop().animate({
                scrollTop: offset_top - wh/2 + item_height/2 + (9*12),
            }, 800);

            // animateScroll.scrollTo({
            //     element: `.${cssclass}`,
            //     offset: -1 * (449 - element.clientHeight / 2 ),
            //     duration: 1000,
            // });
        }
    }

    function mountWaypoints() {

        let items = document.querySelectorAll('.item--history');
        let waypoints = [];

        items.forEach(element => {

            let wp = new Waypoint({
                element: element,
                handler: function(direction) {
                    let id = jq(this.element).data('id');
                    console.log(id);
                    activeId = id;
                },
                offset: "20%",
            })

            waypoints.push(wp);

        });
    }

    onMount(() => {
        mountWaypoints();
    });
</script>

<Section sectionClass="section">
    <div class="row">
        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>History</h1>
            </div>
        </div>
        <div class="col-xs-12 padding-col">
            <div class="chart">
                <Chart data={history} on:dataclick={onDataClick} activeId={activeId}/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-0 col-md-1">
            <Ruler/>
        </div>
        <div class="col-xs-0 col-md-11">
            <div class="row">

                <div class="col-xs-12">
                    {#each history as item, index}
                        <div class="item item--history item-{item.id}" data-id={item.id}>
                            <Item title={item.headline} body={item.text} date={new Date(item.startDate)} image={item.asset.media} index={index} id={item.id}/>
                        </div>
                    {/each}
                </div>
            </div>
        </div>
    </div>
</Section>

<style lang="scss">
    section {
        padding-top: rem(140);
        padding-bottom: rem(210);
    }
    h1 {
        margin-bottom: 0;
    }
</style>
