<script>
  // import List from "./ListRender.svelte"

  import Image from 'Image';
  import Video from 'Video';
  import VideoPlayable from 'VideoPlayable';
  import VideoYoutube from 'VideoYoutube';
  import VideoVimeo from 'VideoVimeo';
  import Text from 'Text';

  export let blocks = [];
  export let rowclass = '';

</script>

<div class="row {rowclass}">
{#each blocks as block}
    <div class="col-xs-12 col-md-{block.col}" block-type="{block.type}">
        <div class="item" >
            {#if block.type == 'image'}
                <Image src={block.data}/>
            {:else if block.type == 'video'}
                <Video src={block.data}/>
            {:else if block.type == 'text'}
                <Text text={block.data}/>
            {:else if block.type == 'vimeo'}
                <VideoVimeo videoId={block.videoId} cover={block.cover} coverVideo={block.coverVideo} />
            {:else if block.type == 'sticky'}
                <div class="item sticky__contain">
                    <div class="row">
                        <div class="col-md-6 ">
                            <div class="sticky">
                                <Text title="{block.title}" text="{block.description}"/>
                            </div>
                        </div>

                        <div class="col-md-6">
                          <svelte:self blocks="{block.blocks}" />
                        </div>
                    </div>
                </div>
            {:else}
                <!-- No other supported!!! -->
            {/if}
        </div>
    </div>
{/each}
</div>


<style lang="scss">
    section {
        padding-top: rem(140);
    }

    .item {
        width: 100%;
        // margin-bottom: 2rem;
    }

    .sticky {
        position: sticky;
        top: rem(100);
        margin-bottom: rem(50);
        margin-left: rem($gutter * -1);

        &__contain {

          .row {
            width: auto;
            margin-left: rem($gutter * -1);
            margin-right: rem($gutter * -1);
          }
        }
    }
</style>
