<script>
    import Section from "Section";
    import { onMount, onDestroy } from 'svelte';
    import { colorfulColorScheme, neutralColorScheme } from '../../utils/colors.js';

    import Video from 'Video';

    onMount(async () => {
		if( typeof document != 'undefined'  && scrollY <= 30 ) document.body.classList.add('menu-transparent');
	});

	onDestroy(async () => {
		if( typeof document != 'undefined' ) document.body.classList.remove('menu-transparent');
	});
</script>
<span class="contacts"></span>
<Section class="contacts" sectionClass={"contacts"} style="background: {colorfulColorScheme[1]}; display:flex; align-content: center; flex-wrap: wrap;">
<!-- <section class="section services" > -->
    <div class="row">
        <div class="col-xs-12 col-md-6">

            <div class="padding-col">
                <div class="col-xs-12">
                    <h1>Join our team!</h1>
                </div>

                <div class="col-xs-12 col-md-8">
                    <div class="address">
                        <p>We're always on the lookout for talent. Drop us a line at <b><a class="basic" href="mailto:magic@ddb.lv">magic@ddb.lv</a></b> and let's see what we can do together.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="padding-col">
                <!-- <Video src="/assets/img/career/career.mp4" /> -->
                <img src="/assets/img/career/onlookout.png" alt="">
            </div>
        </div>
    </div>
    <div class="row padding-col spacer"></div>
<!-- </section> -->
</Section>


<style lang="scss">

    .address {
        margin-bottom: 2rem;
    }

    .spacer {
        height: rem($gutter*20);
    }

    .contact {
        margin-bottom: rem(20);
    }

    .taktous {

    }

    h1 {
        // text-transform: uppercase;
        // font-weight: $bold;
        // font-family: $font-family;
        // margin-bottom: rem(100);

        @media #{$breakpoint-sm-down} {
            margin-bottom: 1.5rem;
        }
    }

    h3 {
        text-transform: uppercase;
    }

    h4 {
        text-transform: uppercase;
        font-size: $font-size-p;
        margin-bottom: 0;
    }
</style>
