<script>
    import Section from "Section";

    import Item from "./_helpers/Item.svelte";

    let items = [
        {vimeoId:"", title: '', coverVideo:'', body: `<p>This is where our video and content wizards work their magic, turning ideas into whole platforms, weaving stories out of just one word. From social network strategies and content to directing and shooting videos, Hub does it all – we're not fussy about job descriptions, we just like to get things done. Our work lives in all the channels out there, be it digital, TV or OOH, and blurs the lines between advertising and culture.</p>`},
        {vimeoId:"386967434", title: 'Latvian Radio - #radiofanatics', coverVideo:'/assets/img/cases/radiofanati/preview-loop.webm', body: '<p>All the stations at Latvian Radio are run and staffed by true fanatics of their work. So it seemed pretty obvious to us to put #radiofanatics in the spotlight.  For the 94th birthday of Latvian Radio, we celebrated the personality of each station with a tailored story.</p>'},
        {vimeoId:"285787167", title: 'BMW - X5 VR experiment', coverVideo:'/assets/img/cases/bmw/bmw-x5-preview.webm', body: '<p>Wooshing down a bobsleigh track is a wow experience. Drifting on an icy lake is a wow experience. So we put them together in VR and real life to create a wow experience squared and showcase the sheer driving pleasure of BMW.</p>'},
        {vimeoId:"357560267", title: 'Ministry of Economics - Latvia - your business playground', coverVideo:'/assets/img/cases/businesplaygrounnd/preview-loop.webm', body: '<p>Can we develop an elevator pitch for the Ministry of Economics and Investment and Development Agency to attract investors? Absolutely. Can we make it stand out on Linkedin? Of course. For DDB HUB Linkedin is as good a place as any.</p>'},
    ];


</script>
<Section sectionClass={'hub'}>
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Hub</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="">
                {#each items as item, index}
                    <Item {...item} index={index}/>
                {/each}
            </div>
        </div>
    </div>
</Section>
