<script context="module">
export async function preload(page, session) {
    const { slug } = page.params

    if( typeof slug == 'undefined' ) slug = 'all'

    const res = await this.fetch(`/champions-breakfast/post/all.json`)
    const items = await res.json()

    return { items , slug }
}
</script>


<script>
    import ItemList from "./_helpers/ItemList.svelte";
    import FilterLink from "./_helpers/FilterLink.svelte";

    export let slug = null;
    export let items = [];

    let categories = [
        // 'all',
        '2019',
    ];

</script>

<section class="section work">
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>Champions’ Breakfast</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="padding-col">
                <ul class="work__filters">
                    {#each categories as cat}
                        <FilterLink name={cat} opencategory={slug} />
                    {/each}
                </ul>
            </div>
        </div>

        <div class="col-xs-12">
            <ItemList items={items} opencategory={slug}/>
        </div>

    </div>
</section>

<style lang="scss">

    section {
        padding-top: rem(140);
    }

    .work__filters {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        text-transform: capitalize;

        list-style: none;
        padding: 0;
        margin: 0;
    }

</style>
