<script>
    import { onMount } from 'svelte';
    import Parallax from '../Parallax.svelte';

    import { colorfulColorScheme, neutralColorScheme } from '../../utils/colors.js';
    import { getRandomInt } from '../../utils/randomizer.js';

    let stickers = [];

    function getDocumentHeight () {
		return Math.max(
			document.documentElement.clientHeight,
			document.body.scrollHeight,
			document.documentElement.scrollHeight,
			document.body.offsetHeight,
			document.documentElement.offsetHeight
		);
	}

    function getPositionArray() {
        const items = [];
        let yPos = getRandomInt(0, 200);

        const documentHeight = getDocumentHeight();

        while (yPos <= documentHeight) {
            const isLeft = !!(Math.random() >= 0.5);
            const color = colorfulColorScheme[getRandomInt(0, colorfulColorScheme.length)];
            const width = getRandomInt(70, 100);
            const height = getRandomInt(70, 100);

            console.log(color, colorfulColorScheme.length, getRandomInt(1,3));


            items.push({
                isLeft:isLeft,
                yPos:yPos,
                backgroundColor: color,
                width: width,
                height: height,
                marginLeft: isLeft ? 0 : 'auto',
				marginRight: isLeft ? 'auto' : 0
            })

            yPos += getRandomInt(800, 1200);
        }

        return items;
    }

    onMount(async() => {

        setTimeout(() => {
            stickers = getPositionArray();
        }, 300);
    });

</script>

{#each stickers as stiker, i (stiker)}
    <div class="stickerContainer" style="top: {stiker.yPos}px">
        <Parallax className="sticker" speed=3>
            <div class="boxContainer" style="margin-left: {stiker.marginLeft}; margin-right: {stiker.marginRight};">
                <div style="
                    background-color: {stiker.backgroundColor};
                    width: {stiker.width}%;
                    height: {stiker.height}%;
                    margin-left: {stiker.marginLeft};
                    margin-right: {stiker.marginRight};"></div>
            </div>
        </Parallax>
    </div>
{/each}

<style lang="scss">

    :global(.sticker) {
        width: 100%;
        display: block;
    }

    .stickerContainer {
        width: 100%;
        position: absolute;
        top: 0;
        display: block;

        z-index: -1;
    }


    .boxContainer {
        width: 45%;
        height: 275px;

        @media #{$breakpoint-sm-up} {
            width: 45%;
            height: 325px;
        }

        @media #{$breakpoint-md-up} {
            width: 40%;
            height: 400px;
        }

        @media #{$breakpoint-lg-up} {
            width: 40%;
            height: 450px;
        }

        @media #{$breakpoint-xl-up} {
            width: 40%;
            height: 500px;
        }

    }

</style>
