<script>
    import { onMount, onDestroy } from 'svelte'
    import BigCase from './Item.svelte'

    import Image from '../Image.svelte'
    import Video from '../Video.svelte'

    export let items
</script>

{#each items as item}
    <BigCase {...item} />
{/each}

<style lang="scss">

</style>
