<script>
    import { onMount } from 'svelte'
    import _ from 'lodash';

    import Parallax from '../Parallax.svelte'

    import Image from '../Image.svelte'
    import Video from '../Video.svelte'


    //export let index = 1
    export let slug = 'get-smoooth'
    export let title = 'Get Smoooth'
    export let client = 'klarna'
    export let excerpt = 'After creating the smooothest financial ads ever we took it to the next level. How? We changed Snoop Dogg’s name to Smoooth Dogg and made him a share holder in the company.'
    export let cover = ''

    let isInScreen = false;
    let splitedTitle = _.chain(title.split(' '))
        .map( (item,key) => {
            return { value:item, id:key, visible: 0 };
        })
        .value();


    const pictureLoad = () => {}


    function whenVisible(event) {

        if (event.isVisible && !isInScreen) {
            animateTitle();
            isInScreen = event.isVisible;
        };
    }

    function animateTitle() {

        let keys = _(splitedTitle).keys().shuffle().each((key, index) => {
            // console.log('Waaat', key, index);

            setTimeout(() => {
                splitedTitle[key].visible = 1;
                splitedTitle = splitedTitle;
            }, 200*index);
        });
    }
</script>


<div class="bigCase" class:isInScreen="{isInScreen}" >
    <div class="bigCase__background"></div>
    <div class="row">
        <div class="frontLayer">
            <a href="/case/{slug}" class="frontLayer__link">
                <div class="frontLayer__title">
                    <div class="animateHover">
                        {#each splitedTitle as part}
                            <span class="animateHover__part" style="opacity:{part.visible};">{part.value}</span>
                        {/each}
                    </div>
                </div>
                <p class="frontLayer__client"><span>{client}</span></p>
                <span class="frontLayer__cta">See case</span>
            </a>
        </div>

        <Parallax whenVisible={whenVisible}>
            <div class="backLayer" hiddenclass="isHidden" viewfactor="0.3" >
                <div class="section1">
                    <div class="image">
                        <div class="image__container">
                            <figure class="imageContainer imageContainer__cover" style="">
                                <img alt="" on:load={pictureLoad} src="{cover}" class="image image__cover" style="opacity: 1;">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="section2">
                    <div class="text">
                        <p class="text__container">
                            {excerpt}
                        </p>
                    </div>
                </div>
            </div>
        </Parallax>
    </div>
</div>

<style lang="scss">

    figure {
        margin: 0;
        padding: 0;
    }

    .row {
        position: relative;
        max-width: rem(1100);
    }

    .bigCase {
        position: relative;
        display: block;
        text-decoration: none;

        padding: rem(150) 0;
        padding: rem(200) 0;

        &__background {
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;

            display: none;
        }

        &:nth-child(2n) {

            .frontLayer {
                width: 100%;
                align-items: flex-end;
                padding: 0 30px 0 0;

                &__title {
                    text-align: right;
                    clear: right;
                }

                &__client {
                    text-align: right;
                    padding: 0 rem(8) 0 0;
                }

                &__cta {
                    float: right;
                }
            }

            .backLayer {
                flex-direction: row;

                .section2 {
                    justify-content: flex-start;
                    padding: 0 0 0 20px;
                    .text {
                        text-align: left;
                    }
                }
            }

            .animateHover {

                &__part:before {
                    transform-origin: top right;
                }
            }

            .image__container,
            .text__container {
                transform: translate(-100%,0);
            }
        }
    }

    .bigCase:nth-child(4n+0) .animateHover__part:before { background-color: $color-purple; }
    .bigCase:nth-child(4n+1) .animateHover__part:before { background-color: $color-pink; }
    .bigCase:nth-child(4n+2) .animateHover__part:before { background-color: $color-green; }
    .bigCase:nth-child(4n+3) .animateHover__part:before { background-color: $color-yellow; }


    .frontLayer {
        position: absolute;
        top: rem(40);
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 0 0 rem(30);
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        width: 75%;

        height: 100%;
        margin: 0;

        &__link {
            text-decoration: none;
            display: inline-block;
            padding-bottom: rem(40);

            @media #{$breakpoint-sm-down} {
                padding-bottom: rem(200);
            }
        }

        &__title {
            position: relative;
            margin: 0;

            font-size: rem(130);
            font-weight: $bold;
            line-height: 1.15;
            letter-spacing: -1.5px;

            color: #000;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            word-break: break-all;

            // Media queries
            word-break: normal;

            // line-height: 1;
            // letter-spacing: -1.5px;
            // font-size: 100px;
            // font-size: 120px;
            // font-size: 150px;

            @media #{$breakpoint-sm-down} {
                font-size: rem(45);
            }
        }

        &__client {
            padding: 0 0 0 rem(8);
            margin: 0 0 30px;
            line-height: 1.33;
            font-weight: 700;
            letter-spacing: -.5px;
            color: #000;
            text-align: left;
            text-decoration: none;
            text-transform: uppercase;
            clear: both;

            font-size: rem(24);
            line-height: 1.25;

            @media #{$breakpoint-sm-down} {
                font-size: rem(18);

                span {
                    padding: 0 10px;
                    margin-top: 2px;
                    margin-left: -10px;
                    background-color: #fff;
                }
            }
        }

        &__cta {
            display: inline-block;
            padding: rem(10) rem(30);
            margin: 0;

            font-weight: 700;
            line-height: 1.25;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            background-color: #000;
            opacity: 1;

            font-size: rem(24);

            opacity: 0;
            transition: opacity .2s;

            @media #{$breakpoint-sm-down} {
                opacity: 1;
                font-size: rem(16);
                padding: rem(5) rem(10);
                width: auto;
            }
        }

        &:hover {
            .frontLayer__link {
                span:before {
                    transform: scale(1);
                }
            }

            .frontLayer__cta {
                opacity: 1;
            }
        }
    }


    .backLayer {
        position: relative;
        display: flex;
        flex-direction: row-reverse;

        .section1,
        .section2 {
            display: flex;
            align-items: flex-end;
            width: 50%;
        }

        .section2 {
            justify-content: flex-end;
            padding: 0 20px 0 0;
        }

        @media #{$breakpoint-sm-down} {
            flex-wrap: wrap;

            .section1,
            .section2 {
                width: 100%;
            }


            .section1 {
                width: 70%;
                margin-bottom: 60px;
            }
            .section2 {
                padding-left: rem(30) !important;
                padding-right: rem(60) !important;

                > .text {
                    text-align: left !important;
                    width: 100%;
                }
            }

            .image__cover {
                padding: 0 rem(30);
            }
        }
    }

    .animateHover {
        display: block;
        line-height: 1;

        &__part {
            position: relative;
            padding: 0;
            padding-right: rem(20);
            display: inline-block;
            line-height: 1;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                transform: scaleX(0);
                display: block;
                width: 100%;
                height: 100%;
                background-color: #000;
                z-index: -1;
                transition: transform .2s .1s;
                transform-origin: top left;

                @media #{$breakpoint-sm-down} {
                    transform: scale(1) !important;
                }
            }


        }
    }

    .image {
        overflow: hidden;

        &__container {
            transform: translate(100%,0);
            transition-property: transform;
            transition-duration: .5s;
            transition-delay: .1s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);
        }
    }

    .text {
        width: 50%;
        text-align: right;
        margin: 0;

        line-height: 1.4;
        color: gray;

        overflow: hidden;

        &__container {
            position: relative;

            transform: translate(100%,0);
            transition-property: transform;
            transition-duration: .5s;
            transition-delay: .3s;
            transition-timing-function: cubic-bezier(.215,.61,.355,1);

            padding-top: 1em;
            padding-bottom: 1em;

            font-size: rem(14);

            @media #{$breakpoint-sm-down} {
                font-size: rem(16);
            }
        }
    }

    .isInScreen {

        .image__container,
        .text__container {
            transform: translate(0%,0) !important;
        }
    }
</style>
