.c3-circle {
    r: 8;
    opacity: 1 !important;

    transition: cx 200ms ease, cy 200ms ease, r 100ms ease;

    &._expanded_,
    &.circle-isactive {
        stroke: none;
        r: 18;
        fill: black;
    }
}
.c3-chart {
    clip-path: none !important;
}
.c3-target-history {
    .c3-circle {
        color: red
    }
}

.c3-tooltip-container {
    background-color: $black;
    color: $white;
    padding: rem(6) rem(12);
    size: rem(14);
    font-weight: $bold;
}

#canvas {
    * {
        overflow:auto !important;
        clip-path: none !important;
    }
}
