.root {
    background: white;
    width: 100%;
    height: 100%;
    perspective: 500px;
}

.angler {
    background: white;
    width: 100%;
    height: 100%;
    perspective: 500px;

    &__noneToSmall {
        animation: scaleUp 0.5s forwards;
        animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
    }

    &__smallToMedium {
        animation: scaleUp 0.5s forwards;
        animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
    }

    &__mediumToSmall {
        animation: scaleDown 0.5s forwards;
        animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
    }
}

@keyframes scaleUp {
    50% { transform:rotate3d(1, 0, 0, -2deg); }
    100% { transform:rotate3d(1, 0, 0, 0deg); }
}

@keyframes scaleDown {
    50% { transform:rotate3d(1, 0, 0, 2deg); }
    100% { transform:rotate3d(1, 0, 0, 0deg); }
}

.scaler {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    perspective: 500px;
    transform: translate3d(0, 0, 0px);

    // &__small {
    // }

    &__medium {
        transform: translate3d(0, 0, -50px);
    }
}
