<script>
</script>

<div class="footer">
    <div class="linksLayer">
        <a class="link__1RYjJ" href="/">
            <svg class="logo" width="120" height="33" viewBox="0 0 120 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10.34 12.9806H10.295L3.536 2.11861H0V18.3106H3.333V7.4706H3.378L10.113 18.3106H13.673V2.11861H10.34V12.9806Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M54.4196 15.3165H51.2446V5.1105H53.7846C57.3216 5.1105 58.4566 7.1975 58.4566 10.4645C58.4566 14.0465 56.4826 15.3165 54.4196 15.3165ZM54.6686 2.1185H47.6836V18.3105H54.6686C59.6116 18.3105 62.0166 14.8175 62.0166 10.1245C62.0166 4.7495 58.8636 2.1185 54.6686 2.1185Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40.1125 9.79751H36.8145V5.10551H40.3285C41.9105 5.10551 42.6485 6.29251 42.6485 7.35451C42.6485 8.48151 41.7815 9.79751 40.1125 9.79751ZM45.9565 7.0625C45.9565 4.7655 44.4005 2.0955 40.9985 2.0955H33.3105V18.3045H36.8145V12.5065H39.4835L42.9385 18.3045H46.6625L42.6445 11.7705C44.8995 11.0985 45.9565 8.9265 45.9565 7.0625Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.4924 15.4801C20.5834 15.4801 18.2264 13.1221 18.2264 10.2141C18.2264 7.3061 20.5834 4.9481 23.4924 4.9481C26.4004 4.9481 28.7564 7.3061 28.7564 10.2141C28.7564 13.1221 26.4004 15.4801 23.4924 15.4801ZM23.4924 1.7311C18.8084 1.7311 15.0114 5.5301 15.0114 10.2141C15.0114 14.8971 18.8084 18.6951 23.4924 18.6951C28.1754 18.6951 31.9724 14.8971 31.9724 10.2141C31.9724 5.5301 28.1754 1.7311 23.4924 1.7311Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M75.4963 15.3136H72.3193V5.0996H74.8613C78.4013 5.0996 79.5373 7.1866 79.5373 10.4566C79.5373 14.0426 77.5623 15.3136 75.4963 15.3136ZM75.7463 2.1026H68.7553V18.3106H75.7463C80.6953 18.3106 83.1003 14.8136 83.1003 10.1156C83.1003 4.7346 79.9463 2.1026 75.7463 2.1026Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M91.0114 15.3136H87.8334V5.0996H90.3754C93.9164 5.0996 95.0524 7.1866 95.0524 10.4566C95.0524 14.0426 93.0764 15.3136 91.0114 15.3136ZM91.2604 2.1026H84.2704V18.3106H91.2604C96.2094 18.3106 98.6154 14.8136 98.6154 10.1156C98.6154 4.7346 95.4604 2.1026 91.2604 2.1026Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M107.053 15.5402H103.24V11.0912H107.121C108.642 11.0912 109.686 11.7492 109.686 13.4072C109.686 15.0862 108.461 15.5402 107.053 15.5402ZM103.24 4.8722H106.577C107.848 4.8722 109.029 5.1892 109.029 6.7322C109.029 8.0942 108.097 8.6622 106.848 8.6622H103.24V4.8722ZM110.278 9.5032C111.684 8.8222 112.478 7.7092 112.478 6.1212C112.478 3.1022 110.391 2.1032 107.303 2.1032H99.6759V18.3102H107.53C110.458 18.3102 113.25 16.9022 113.25 13.6112C113.25 11.5912 112.251 10.0702 110.278 9.5032Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M116.27 4.755C115.335 4.755 114.578 3.997 114.578 3.062C114.578 2.129 115.335 1.371 116.27 1.371C117.204 1.371 117.961 2.129 117.961 3.062C117.961 3.997 117.204 4.755 116.27 4.755ZM116.27 0C114.579 0 113.207 1.371 113.207 3.062C113.207 4.754 114.579 6.126 116.27 6.126C117.961 6.126 119.333 4.754 119.333 3.062C119.333 1.371 117.961 0 116.27 0Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M62.299 29.9762H63.745L63.041 27.9292H63.026L62.299 29.9762ZM62.417 26.5552H63.675L65.76 32.1332H64.487L64.065 30.8902H61.979L61.541 32.1332H60.299L62.417 26.5552Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M58.8957 31.4947C58.4657 32.0497 57.9027 32.2607 57.3647 32.2607C55.6367 32.2607 54.6217 30.9717 54.6217 29.3617C54.6217 27.7047 55.6367 26.4167 57.3647 26.4167C58.5047 26.4167 59.5827 27.1197 59.7157 28.3847H58.5437C58.4027 27.7677 57.9417 27.4477 57.3647 27.4477C56.2627 27.4477 55.8487 28.3847 55.8487 29.3617C55.8487 30.2917 56.2627 31.2287 57.3647 31.2287C58.1607 31.2287 58.6227 30.7987 58.6917 30.0257H57.4577V29.1117H59.8017V32.1277H59.0207L58.8957 31.4947Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M52.6827 32.1338H53.9097V26.5468H52.6827V32.1338Z" fill="#1A1919"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M49.7565 29.1979H48.6185V27.5799H49.8305C50.3775 27.5799 50.6315 27.9889 50.6315 28.3539C50.6315 28.7449 50.3315 29.1979 49.7565 29.1979ZM51.7725 28.2549C51.7725 27.4629 51.2355 26.5399 50.0615 26.5399H47.4095V32.1329H48.6185V30.1329H49.5405L50.7315 32.1329H52.0155L50.6295 29.8789C51.4065 29.6459 51.7725 28.8969 51.7725 28.2549Z" fill="#1A1919"/>
            </svg>
        </a>
        <div class="links">
            <a class="link" href="/work/all" >work</a>
            <a class="link" >Services
                <a class="link" href="/services/creative" >Creative</a>
                <a class="link" href="/services/consulting" >Strategy</a>
                <a class="link" href="services/hub" >Content</a>
            </a>
            <a class="link" >About
                <a class="link" href="/about" >About Us</a>
                <a class="link" href="/about/contacts" >Contacts</a>
            </a>
            <a class="link" href="/career" >Career</a>
            <a class="link" href="/champions-breakfast" >Breakfast</a>
        </div>
        <div class="social">
            <div class="social__item">
                <a class="link" target="_blank" href="https://www.facebook.com/NORDDDBRIGA/">facebook</a>
                <a class="link" target="_blank" href="https://www.instagram.com/nordddbriga/">instagram</a>
                <a class="link" target="_blank" href="https://twitter.com/DDB_LV">twitter</a></div>
            <div class="social__item">
                <a class="link" target="_blank" href="https://vimeo.com/nordddbriga">vimeo</a>
                <a class="link" target="_blank" href="https://www.linkedin.com/company/ddb-latvia">linkedin</a>
                <!-- <a class="link" target="_blank" href="https://www.snapchat.com/add/nordddb">snapchat</a> -->
            </div>
        </div>
    </div>

    <div class="officesLayer">
        <div class="left">
            <div class="office">
                <div class="officeName">RIX</div>
                <div class="officeDesc">
                    <div class="officeAddress">NORD DDB Riga
Brīvības iela 40-33,
Rīga, LV - 1050</div>
                    <div class="officeEmail">magic@ddb.lv</div>
                    <div class="officePhone">+371 67288 265</div>
                    <div class="officeFax"></div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="office">
                <div class="officeName">CPH</div>
                <div class="officeDesc">
                <div class="officeAddress">NORD DDB Cph
Møntergade 1, 2nd floor
1116 Copenhagen</div>
                <div class="officeEmail">info@dk.nordddb.com</div>
                <div class="officePhone">+45 3346 3000</div>
                <div class="officeFax"></div>
                </div>
            </div>
            <div class="office">
                <div class="officeName">HEL</div>
                <div class="officeDesc">
                <div class="officeAddress">NORD DDB Helsinki
Vuorikatu 16 A 3
00100 Helsinki</div>
                <div class="officeEmail">info@fi.nordddb.com</div>
                <div class="officePhone">+ 358 40 143 7939</div>
                <div class="officeFax">CEO: +358 40 595 1607</div>
                </div>
            </div>
            <div class="office">
                <div class="officeName">OSL</div>
                <div class="officeDesc">
                <div class="officeAddress">NORD DDB Oslo
Frøyas gate 15 Oslo
0273 Oslo Norge</div>
                <div class="officeEmail">info@no.nordddb.com</div>
                <div class="officePhone">+47 22 59 32 00</div>
                <div class="officeFax"></div>
                </div>
            </div>
            <div class="office">
                <div class="officeName">STO</div>
                <div class="officeDesc">
                <div class="officeAddress">NORD DDB Stockholm
Torsgatan 19
Box 6016
102 31 Stockholm</div>
                <div class="officeEmail">info@se.nordddb.com</div>
                <div class="officePhone">+46 8 588 980 00</div>
                <div class="officeFax"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<style lang="scss">
    .footer {
        z-index: 13;
        position: relative;
        width: 100%;
        background-color: #000;
        color: #fff;
        font-weight: 200;

        display: flex;

        @media #{$breakpoint-sm-down} {
            flex-wrap: wrap;
        }
    }

    .logo {
        height: auto;
        width: rem(230);
        padding-top: 70px;
        fill: white;
        path {
            fill: white;
        }
    }

    .linksLayer {
        text-transform: uppercase;
        padding: 0 26px 70px;

        padding-left: 50px;
        padding-right: 50px;
        width: 40%;

        @media #{$breakpoint-sm-down} {
            width: 100%;
        }
    }

    .officesLayer {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;

        .office {
            min-width: 0;
            width: 100%;
            border: none;
            display: flex;
        }

        .officeName {
            max-width: 50%;
            text-align: center;
            font-size: 60px;
            font-weight: 700;
            margin-top: -10px;
            margin-right: 16px;
        }

        .officeDesc {
            width: 100%;
            // max-width: 50%;
        }

        .officeAddress {
            white-space: pre-wrap;
            display: block;
            margin-bottom: 20px;
        }

        .left {
            border-left: 2px solid #454545;
            width: 40%;
            font-size: 16px;

            .office {
                padding: 60px 26px 50px;
            }

            .officeName {
                font-size: 60px;
                margin-right: 24px;
            }
        }

        .right {
            border-left: 2px solid #454545;
            width: 60%;
            padding-bottom: 50px;
            display: flex;
            flex-wrap: wrap;

            .office {
                width: 50%;
                padding: 60px 26px 00px;
            }

            .officeName {
                font-size: 30px;
            }


        }

        @media #{$breakpoint-sm-down} {
            .officeName {
                width: rem(350);
                margin-right: 24px;
                text-align: left;
            }
            .left,
            .right {
                width: 100%;
                border-left: none;
                border-top: 2px solid #454545;

                .office {
                    width: 100%;
                }
            }
        }
    }

    .link {
        display: block;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;

        > .link {
            padding-left: 20px;
        }
    }

    .links {
        margin: 50px 0 70px;
        line-height: 1.82;
        font-weight: 700;
        letter-spacing: .2px;

        font-weight: inherit;
        line-height: 2.08;
        letter-spacing: .1px;
    }

    .social {
        display: flex;
        justify-content: flex-start;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: .2px;
        flex-wrap: wrap;

        &__item {
            margin-right: 60px;
        }
    }
</style>
