<script>
	import { onMount, onDestroy } from 'svelte';
	import { TweenLite } from "gsap";

	import normalizeWheel from 'normalize-wheel';
	import arrayIndexByOffset from '../utils/array-index-by-offset';

    import Image from '../components/Image.svelte';
    import Video from '../components/Video.svelte';

    export let items = [{isVideo:0},{isVideo:1},{isVideo:0},{isVideo:1}];

	let highlightElements = [],
		isTweening = false,
		activeIndex = 0,
		body = document.body;

    function next() {
		if( isTweening ) { return; }
		isTweening = true;

		// const activeIndex = this.state.activeIndex;
		const nextIndex = arrayIndexByOffset( highlightElements, activeIndex, 1 );
		const futureIndex = arrayIndexByOffset( highlightElements, activeIndex, 2 );
		const prevIndex = arrayIndexByOffset( highlightElements, activeIndex, -1 );

		highlightElements[prevIndex].style.zIndex = 1;
		highlightElements[activeIndex].style.zIndex = 2;
		highlightElements[nextIndex].style.zIndex = 3;
		highlightElements[futureIndex].style.zIndex = 1;

		// // Animate
		// const cEase = CustomEase.create( 'custom', 'M0,0 C0.11,0.486 0.201,0.692 0.3,0.8 0.368,0.874 0.456,1 1,1' );
		const cEase = Power4.easeOut;
		const animTime = 1;
		TweenLite.fromTo(
			highlightElements[nextIndex],
			animTime,
			{ y: window.innerHeight },
			{ y: 0, ease: cEase, onComplete: () => { isTweening = false; } }
		);

		let image = highlightElements[nextIndex].querySelector( '.image-video' ) || highlightElements[nextIndex].querySelector( '.loopable-video' );
		TweenLite.fromTo( image, animTime, { y: 0 }, { y: window.innerHeight * 0.20, ease: cEase } );

		const titleElement = highlightElements[nextIndex].querySelector( '.highlights__title' );
		TweenLite.fromTo( titleElement, 1, { y: 100 }, { y: 0 } );

		// // Change indexes
		activeIndex = nextIndex;
		// this.setState( { activeIndex: nextIndex, whiteTheme: this.isWhiteTheme( nextIndex ) } );
		// this.props.onHighlightChange( nextIndex, this.isWhiteTheme( nextIndex ) );
    }

    function prev() {
		if( isTweening ) { return; }
		isTweening = true;

		// const activeIndex = this.state.activeIndex;
		const nextIndex = arrayIndexByOffset( highlightElements, activeIndex, -1 );
		const futureIndex = arrayIndexByOffset( highlightElements, activeIndex, -2 );
		let image;

		highlightElements[activeIndex].style.zIndex = 3;
		highlightElements[nextIndex].style.zIndex = 2;
		highlightElements[futureIndex].style.zIndex = 1;

		// // Prepare next
		TweenLite.set( highlightElements[ nextIndex ], { y: 0 } );
		image = highlightElements[nextIndex].querySelector( '.image-video' ) || highlightElements[nextIndex].querySelector( '.loopable-video' );
		TweenLite.set( image, { y: window.innerHeight * 0.20 } );

		// // Animate
		// const cEase = CustomEase.create( 'custom', 'M0,0 C0.11,0.486 0.201,0.692 0.3,0.8 0.368,0.874 0.456,1 1,1' );
		const cEase = Power4.easeOut;
		const animTime = 1;
		TweenLite.fromTo(
			highlightElements[activeIndex],
			animTime,
			{ y: 0 },
			{ y: window.innerHeight, ease: Power4.easeOut, onComplete: () => { isTweening = false; } }
		);

		image = highlightElements[activeIndex].querySelector( '.image-video' ) || highlightElements[activeIndex].querySelector( '.loopable-video' );
		TweenLite.fromTo( image, animTime, { y: window.innerHeight * 0.20 }, { y: 0, ease: cEase } );

		const titleElement = highlightElements[nextIndex].querySelector( '.highlights__title' );
		TweenLite.fromTo( titleElement, 0.7, { y: -200 }, { y: 0, ease: Power2.easeOut } );

		// // Change indexes
		activeIndex = nextIndex;
		// this.setState( { activeIndex: nextIndex, whiteTheme: this.isWhiteTheme( nextIndex ) } );
		// this.props.onHighlightChange( nextIndex, this.isWhiteTheme( nextIndex ) );
	}

	function onWheel(event) {
		const moved = normalizeWheel( event ).pixelY;

		if( moved > 15 ) {
			next();
		} else if( moved < -15 ) {
			prev();
		}
	}

	onMount(async () => {

		body.classList.add('no-scroll');


		highlightElements = [...document.querySelectorAll( '.highlights__item' )];
		let image = highlightElements[0].querySelector( '.image-video' ) || highlightElements[0].querySelector( '.loopable-video' );

		TweenLite.set( highlightElements[0], { y: 0, opacity: 1 } );
		TweenLite.set( image, { y: window.innerHeight * 0.20 } );
	});

	onDestroy(async () => {
		body.classList.remove('no-scroll');

	});


</script>

<svelte:window on:mousewheel={onWheel}/>

<div class="highlights-wrapper">
    <div class="highlights">
        {#each items as value }
        <div class="highlights__item">
			{#if value.isVideo}
	            <Video isScaled={true}/>
			{:else}
	            <Image isScaled={true}/>
			{/if}
			<h1 class="highlights__title" style="transform: matrix(1, 0, 0, 1, 0, 0);">Get Smoooth</h1>
        </div>
        {/each}
    </div>
</div>



<style lang="scss">

	.highlights-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.highlights {
		width: 100%;
		height: 100%;

		&__item {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			transform: translateY(100%);
			overflow: hidden;

			&.isvisible {
				transform: translateY(0);
			}
		}

		&__title {
			position: absolute;
			bottom: 0;
			left: 0;
			line-height: 1;
			width: 90%;
			padding: 0 26px;
			margin-bottom: 26px;
		}
	}
</style>
