<script>
    import { createEventDispatcher } from 'svelte';
    const dispatch = createEventDispatcher();

    export let isScaled = false
    export let src = '/assets/test-images/girl.jpg';

    export let align = null

    function onLoaded() {
        dispatch('load');
    }

</script>

<div class="image-video cover" class:isScaled>
    <figure class="image-wrapper image-wrapper__cover">
        <img on:load|once={onLoaded} class="image image__cover {(align) ? 'image--'+align : '' }" alt="" {src} style="opacity: 1;">
    </figure>
</div>




<style lang="scss">
    figure {
        padding: 0;
        margin: 0;

        width: 100%;
        height: 100%;
    }

    .image-video.isScaled {
        transform: scale(1.4);
    }

    .cover {
        height: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }

        &--left {
            object-position: left center;
        }

        &--right {
            object-position: right center;
        }
    }
</style>
