<script>
	import { onMount, onDestroy } from 'svelte';
	import normalizeWheel from 'normalize-wheel';

	import Image from '../components/Image.svelte';
    import Video from '../components/Video.svelte';
    import VideoPlayable from '../components/VideoPlayable.svelte';

	let isTweening = false,
		scrollY,
		scaler,
		angler,
		body;

	/**
	 * Bind scrollY parameter so that if window.scroll()
	 * is called, then we can prev();
	 */
	$: if (scrollY == 0) { prev(); };

	function onTouch() {
		console.log('a?');

	}

	function onWheel(event) {
		// const moved = normalizeWheel( event ).pixelY;
		// if( moved > 15 ) {
		// 	next();
		// } else if( moved < -15 ) {
		// 	prev();
		// }

		if (scrollY > 30) {
			next();
		} else {
			prev();
		}
	}

	function next() {
		if ( !scaler.classList.contains('scaler__medium') ) {

			scaler.classList.add('scaler__medium');

			angler.classList.remove('angler__smallToMedium');
			angler.classList.add('angler__mediumToSmall');

			if( typeof document != 'undefined' ) document.body.classList.remove('menu-white');
		}
	}

	function prev() {
		if ( scaler.classList.contains('scaler__medium') ) {

			scaler.classList.remove('scaler__medium');

			angler.classList.remove('angler__mediumToSmall');
			angler.classList.add('angler__smallToMedium');

			if( typeof document != 'undefined' ) document.body.classList.add('menu-white');
		}
	}


	onMount(async () => {
		if( typeof document != 'undefined'  && scrollY <= 30 ) document.body.classList.add('menu-white');
	});

	onDestroy(async () => {
		if( typeof document != 'undefined' ) document.body.classList.remove('menu-white');
	});


</script>

<svelte:window on:scroll={onWheel} on:touch={onTouch} bind:scrollY={scrollY}/>

<div class="hero-wrapper">
    <div class="hero root">
		<div bind:this={scaler} class="scaler">
			<div bind:this={angler} class="angler">
	    		<VideoPlayable cover="/assets/img/showreel/hero-intro-loop.webm" playable="/assets/img/showreel/showreel.webm"/>
			</div>
		</div>
    </div>


</div>



<style lang="scss" global>

	.hero-wrapper {
		width: 100%;
		height: 100%;
		height: 100vh;

		@media #{$breakpoint-sm-down} {
			height: 60vh;
		}
	}
	.hero {
		width: 100%;
		height: 100%;
	}

	.root {
		background: white;
		width: 100%;
		height: 100%;
		perspective: 500px;
	}

	.angler {
		background: white;
		width: 100%;
		height: 100%;
		perspective: 500px;

		&__noneToSmall {
			animation: scaleUp 0.5s forwards;
			animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
		}

		&__smallToMedium {
			animation: scaleUp 0.5s forwards;
			animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
		}

		&__mediumToSmall {
			animation: scaleDown 0.5s forwards;
			animation-timing-function: cubic-bezier(0.000, 0.000, 0.580, 1.000); /* ease-out */
		}
	}

	.scaler {
		width: 100%;
		height: 100%;
		transition: transform 0.5s;
		perspective: 500px;
		transform: translate3d(0, 0, 0px);

		// &__small {
		// }

		&__medium {
			transform: translate3d(0, 0, -50px);
		}
	}

	@keyframes scaleUp {
		50% { transform:rotate3d(1, 0, 0, -2deg); }
		100% { transform:rotate3d(1, 0, 0, 0deg); }
	}

	@keyframes scaleDown {
		50% { transform:rotate3d(1, 0, 0, 2deg); }
		100% { transform:rotate3d(1, 0, 0, 0deg); }
	}

</style>
