<div class="row padding-col">

  <div class="col-sm-6 col-md-5">
    <a class="item item--prev" target="_self" href={href(prev)}>
      <div class="image"><Image src={get(prev,'cover')} /></div>
      <div class="info">
        <div class="title">{get(prev,'title')}</div>
        <div class="subtitle">{get(prev,'client')}</div>
        <div class="big">prev</div>
      </div>
    </a>
  </div>

  <div class="col-sm-0 col-md-2"></div>

  <div class="col-sm-6 col-md-5">
    <a class="item item--next" target="_self" href={href(next)}>
      <div class="info">
        <div class="title">{get(next,'title')}</div>
        <div class="subtitle">{get(next,'client')}</div>
        <div class="big">next</div>
      </div>
      <div class="image"><Image src={get(next,'cover')} /></div>
    </a>
  </div>

</div>

<style lang="scss">
  .row {
    margin-top: rem($gutter*10);
    margin-bottom: rem($gutter*20);

    @media #{$breakpoint-sm-down} {
      margin-top: rem($gutter*5);
      margin-bottom: rem($gutter*5);
    }
  }

  .item {
    display: flex;
    align-items: center;

    @media #{$breakpoint-sm-down} {
        flex-wrap: wrap;

        .big {
          position: absolute;
          bottom: 150%;
        }
    }

    &--prev {

      .big {
        left: rem(-20);
      }

      &:hover {
        .big {
          left: rem(-40);
        }
      }

      @media #{$breakpoint-sm-down} {
        padding-right: rem(10);
      }
    }

    &--next {
      justify-content: flex-end;

      .info {
        text-align: right;
      }

      .big {
        right: rem(-20);

      }

      &:hover {
        .big {
          right: rem(-40);
        }
      }

      @media #{$breakpoint-sm-down} {
        padding-left: rem(10);
      }
    }

  }

  .image {
    width: 35%;

    @media #{$breakpoint-sm-down} {
      width: 100%;
      margin-bottom: rem(10);

      order: 1;
    }
  }

  .info {
    padding: rem(10);
    min-height: rem(150);

    position: relative;

    @media #{$breakpoint-sm-down} {
        padding: 0;
        order: 2;
    }
  }

  .title {
    font-size: rem(35);
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;

    @media #{$breakpoint-sm-down} {
        font-size: rem(18);
    }
  }

  .subtitle {
    font-size: rem(16);
    line-height: 1.2;
    text-transform: uppercase;
  }

  .big {
    position: relative;
    bottom: rem(-10);
    display: inline-block;

    font-size: rem(40);
    font-weight: 700;
    text-transform: uppercase;

    background-color: $color-green;
    line-height: 1;
    padding: rem(5);

    transition: left 200ms $bezier, right 200ms $bezier;

    z-index: 1;
  }


</style>

<script>
  import { colorfulColorScheme } from '../utils/colors.js';
  import { onMount, onDestroy } from 'svelte';
  import Image from 'Image'

  export let urlbase = '/';
  export let prev = {
    cover: null,
    title: null,
    client: null,
    slug: null,
  }
  export let next = {
    cover: null,
    title: null,
    client: null,
    slug: null,
  }

  function get(item, slug) {
    if (item && item[slug]) {
      return item[slug]
    }

    return '';
  }

  function href(item) {
    if (item && item.slug) {
      return urlbase + item.slug;
    }

    return '#';
  }

  async function vimeoInfo(vimeoId) {
      const res = await fetch(`https://vimeo.com/api/v2/video/${vimeoId}.json`)
      const info = await res.json()

      try {
          let thumb = info.pop()
          return thumb.thumbnail_large;
      } catch (error) {
      }

      return '';
  }

  onMount(async () => {

    if (next.vimeoId) {
      vimeoInfo(next.vimeoId).then( data => next.cover = data );
    }

    if (prev.vimeoId) {
      vimeoInfo(prev.vimeoId).then( data => prev.cover = data );
    }
	});

</script>
