<script>
    import { onMount } from 'svelte';
    import Rellax from 'rellax';

    export let speed = -2;
    export let className = '';
    export let whenVisible = null;

    let rellaxDomElement;
    let relaxHandle;

    function bindEventListeners() {
        // Add onLoad For all inside img
        let images = [...rellaxDomElement.getElementsByTagName('img')];

        images.forEach(element => {
            element.addEventListener('load', refresh);
        });
    }

    function refresh () {
        relaxHandle.refresh();
    }

    function callback (event) {
        let max = Math.abs(event.x + event.x * 0.9);
        let min = Math.abs(event.x - event.x * 0.9);

        let y = Math.abs(event.y);

        if (y < max && y > min) {
            event.isVisible = true;
        } else {
            event.isVisible = false;
        }

        whenVisible.call(this, event);
    }

    onMount(async() => {

        setTimeout(() => {
            let options = {
                speed: speed,
                center: true,
                round: false,
            };

            if (typeof whenVisible === 'function') {
                options.callback = callback;
            }

            relaxHandle = new Rellax(rellaxDomElement, options);

            bindEventListeners();
        },600)

        return () => {
            try {
                relaxHandle.destroy();
            } catch (error) {}
        }
    });

</script>


<div bind:this={rellaxDomElement} class="{className}" >
    <slot>
	</slot>
</div>
