<script>
    import { onMount } from 'svelte';

    import { quartInOut, quartOut } from 'svelte/easing';
    import { fade } from 'svelte/transition';

    export let sectionClass = '';
    export let style = '';

    let transition_params = {delay: 100, duration: 300, easing: quartOut};


    // function bindEventListeners() {
    // }

    // function refresh () {
    // }

    // onMount(async() => {
    // });
</script>


<section class="section section--{sectionClass}" style="{style}" in:fade={transition_params}>
  <slot></slot>
</section>


<style lang="scss">
    section {
        padding-top: rem(140);
        min-height: 100vh;

        @media #{$breakpoint-sm-down} {
            padding-top: rem(100);
        }
    }
</style>
