<script>
    import { onMount, onDestroy } from 'svelte';
    import { fade } from 'svelte/transition';

    $: visible = true;

    onMount(() => {
        //console.log('smooth mount');
        window.scrollTo(0,0);
        visible = false;
    });

    onDestroy(() => {
        //console.log('smooth destroy');
        visible = true;
    });
</script>

{#if visible}
    <div out:fade={{delay:300, speed: 200}} class="smooth-navigation"></div>
{/if}

<style>

    div {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;

        background-color: white;

        z-index: 999;
    }

</style>
