<script>
    export let title = ``;
    export let text = `Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident tempore reprehenderit nesciunt pariatur, voluptatem quam neque tempora maxime minima ut nemo illo in voluptatibus et! Omnis rem perferendis dicta tempora?`;
</script>
<div class="text">
    <div class="row">
        {#if title}
            <div class="col col-xs-12">
                <h4 class="text__title">{@html title}</h4>
            </div>
        {/if}
        <div class="col col-xs-12 col-md-6">
            <div class="text__body">
                {@html text}
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>


<style lang="scss">
    // figure {
    //     padding: 0;
    //     margin: 0;

    //     width: 100%;
    //     height: 100%;
    // }

    // .image-video.isScaled {
    //     transform: scale(1.4);
    // }

    // .cover {
    //     height: 100%;
    // }

    // .image {
    //     display: block;
    //     width: 100%;
    //     height: 100%;

    //     &__cover {
    //         object-fit: cover;
    //         object-position: 50% 50%;
    //     }
    // }
</style>
