<script>
    import { onMount, onDestroy } from 'svelte';
    import { beforeUpdate, afterUpdate } from 'svelte';
    import normalizeWheel from 'normalize-wheel';
    import VimeoPlayer from '@vimeo/player';
    import Video from 'Video';

    export let videoId = null
    export let cover = ''
    export let coverVideo = ''

    let isStartedPlaying = false;
    let pausedByScrolling = null;

    let scrollY;
    let player;
    let playerContainer;

    let isPlaying = false;



    function onClick(event) {

        if (isPlaying) {
            pause();
        } else {
            play();
        }
    }

    function loadVideo() {
        // 16x9
        let koef = 9/16;

        player = new VimeoPlayer(playerContainer, {
            id: videoId,
            height: playerContainer.offsetWidth * koef,
        });

        player.on('play', (event) => {
            isPlaying = true;
        });

        player.on('pause', (event) => {
            isPlaying = false;
        });

        player.on('ended', (event) => {
            isPlaying = false;
        });

        player.on('error', (event) => {
            isPlaying = false;
        });
    }

    function play() {
        isStartedPlaying = true;
        player.play();
    }

    function pause() {
        player.pause();
    }

    function onLoaded() {
        // dispatch('load');
    }

    onMount(async() => {
        loadVideo();

        return () => {
            console.log('qwerty');

            try {

            } catch (error) {}
        }
    });

</script>

{#if videoId != null}
    <div class="vimeo-video" on:click="{onClick}" class:isStartedPlaying class:isPlaying>
        <div class="cover">
        {#if cover != ''}
            <img on:load|once={onLoaded} class="image image__cover" alt="" src={cover} style="opacity: 1;">
        {:else if coverVideo != ''}
            <Video src='{coverVideo}' />
        {/if}
        </div>
        <div class="iframe">
            <div class="video-player" bind:this={playerContainer}></div>
        </div>
        <div class="mobile-play-button" > </div>
    </div>
{/if}

<style lang="scss">

    .vimeo-video {
        width: 100%;

        position: relative;
        background-color: #000;
        cursor: url('/assets/img/play.png'),auto;

        &.isPlaying {

            cursor: url('/assets/img/pause.png'),auto;

            .mobile-play-button {
                background-image: url('/assets/img/pause.png');
            }

            .cover {
                display: none;
            }
        }

        &.isStartedPlaying {

            .cover {
                display: none;
            }

            .mobile-play-button {
                display: none;
            }
        }
    }

    :global(.vimeo-video .iframe *) {
        display: block;
        width: 100%;
    }

    .image {
        position: absolute;

        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .cover {
        position: absolute;

        display: block;
        width: 100%;
        height: 100%;
    }

    .mobile-play-button {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;

        width: 75px;
        height: 20px;

        margin: auto;

        background-image: url('/assets/img/play.png');
        background-size: 100%;
        background-position: center;

        @media #{$breakpoint-md-up} {
            display: none;
        }
    }
</style>
