<script>
    import jq from 'jquery'
    import normalizeWheel from 'normalize-wheel';

    export let isScaled = false

    export let cover    = '/assets/test-images/video.webm';
    export let playable = '/assets/test-images/hero-intro-vid.webm';

    export let inner = false;

    let isStartedPlaying = false;
    let pausedByScrolling = null;

    let isPlaying = false;
    let isMuted = false;
    let player;
    let scrollY;

    let progress = 0;

    var fileExtentionPattern=/\.[0-9a-z]+$/i;

    function onClick(event) {
        if( playable == '' ) return false

        if ( jq(event.target).hasClass('sound-toggle') ) {
            toggleSound(event);
        } else {
            if (isPlaying) {
                pause();
            } else {
                play();
            }
        }

    }

    function onWheel(event) {
        if (!inner) {
            const moved = normalizeWheel( event ).pixelY;

            if( moved > 0 ) {
                if (isPlaying) {
                    pausedByScrolling = true;
                }
                pause();
            } else if (pausedByScrolling && scrollY < 5) {
                play()
            }
        }
	}

    function play() {
        if (!isPlaying) {
            // window.scrollTo(0,0);

            // var evt = document.createEvent('MouseEvents');
            // evt.initEvent('wheel', true, true);
            // evt.deltaY = 0;
            // window.dispatchEvent(evt);

            if (!inner) {
                scrollY = 0;
            }

            player.play();

            isPlaying = true;
            isStartedPlaying = true;
            pausedByScrolling = null;
        }
    }

    function pause() {
        if (isPlaying) {
            player.pause();

            isPlaying = false;
        }
    }

    function timeupdate(event) {
        progress = (player.currentTime / player.duration * 100);
    }

    function toggleSound(event) {
        console.log(isMuted);

        if (isMuted) {
            isMuted = false;
        } else {
            isMuted = true;
        }

        player.muted = isMuted;
    }

    function noExtention(string) {
        let extention = string.match(fileExtentionPattern);
        return string.replace(extention,'');
    }
</script>

<svelte:window on:mousewheel={onWheel} bind:scrollY={scrollY}/>

<div class="image-video cover" class:isStartedPlaying class:isPlaying class:isScaled on:click="{onClick}">
    <figure class="video-wrapper video-wrapper__cover">
        <video class="video video__cover"
            preload="metadata"
            playsinline
            loop
            autoplay
            muted
        >
            <source src="{noExtention(cover)}.webm" type="video/webm">
            <source src="{noExtention(cover)}.mp4"  type="video/mp4">
        </video>
    </figure>

    <figure class="video-wrapper video-wrapper__playable">
        <video bind:this={player} on:timeupdate={timeupdate} type="video/webm" class="video"
            preload="metadata"
            playsinline
        >
            <source src="{noExtention(playable)}.webm" type="video/webm">
            <source src="{noExtention(playable)}.mp4"  type="video/mp4">
        </video>
        <div class="sound-toggle sound-btn" class:isMuted={isMuted}>
            <img alt="Sound off" class="sound-toggle mute" src="/assets/img/mute.svg" >
            <img alt="Sound on" class="sound-toggle sound" src="/assets/img/sound.svg" >
        </div>
        <div class="progress-bar"><span class="progress-bar-value" style="width: {progress}%"></span></div>
    </figure>

    <div class="mobile-play-button" > </div>
</div>

{#if !isPlaying && scrollY == 0 && !inner}
    <div class="scrolldown"> <span></span> </div>
{/if}


<style lang="scss">
    figure {
        padding: 0;
        margin: 0;

        width: 100%;
        height: 100%;
    }

    .image-video {

        video {
            cursor: url('/assets/img/play.png'),auto;
        }

        background-color: #000;

        & > .video-wrapper__playable {
            position: relative;
            display: none;
        }

        &.isPlaying {

            video {
                cursor: url('/assets/img/pause.png'),auto;
            }

            .mobile-play-button {
                background-image: url('/assets/img/pause.png');
            }
        }

        &.isStartedPlaying {

            .video-wrapper__cover {
                display: none;
            }

            .video-wrapper__playable {
                display: block;
            }
        }
    }

    .image-video.isScaled {
        transform: scale(1.4);
    }

    .cover {
        height: 100%;
    }

    .video {
        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .progress-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $gray-dark;

        height: rem(7);
        width: 100%;

        .progress-bar-value {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            background-color: $white;

            // transition: width 300ms;
        }
    }

    .sound-btn {
        position: absolute;
        bottom: 30px;
        right: 20px;

        cursor: pointer;

        z-index: 9999;

        .mute { display: none; }
        .sound { display: block; }

        &.isMuted {
            .mute { display: block; }
            .sound { display: none; }
        }
    }

    .scrolldown {

		> span {
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			bottom: 0;

			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #fff;

			margin: 0 0 0 -20px;

			line-height: 60px;

			color: #fff;
			text-align: center;
			font-size: 70px;
			z-index: 100;
			animation: scrolldown_animate 2s ease-in-out infinite;
        }

        @media #{$breakpoint-sm-down} {
            display: none;
        }
    }

    .mobile-play-button {
        position: relative;
        bottom: 50px;
        left: 0;
        right: 0;

        width: 75px;
        height: 20px;

        margin: auto;

        background-image: url('/assets/img/play.png');
        background-size: 100%;
        background-position: center;

        @media #{$breakpoint-md-up} {
            display: none;
        }
    }

	@keyframes scrolldown_animate {
		0%   { opacity: 0; transform: translateY(-20px); }
		50%  { opacity: 1; }
		100% { opacity: 0; transform: translateY(20px); }
	}
</style>
