<script>
    import { onMount } from 'svelte';
    import normalizeWheel from 'normalize-wheel';
    import YouTubePlayer from 'youtube-player';


    //export let isScaled = false
    // export let cover    = '/assets/test-images/video.webm';
    export let youtubeId = 'M7lc1UVf-VE';
    export let cover = '/assets/test-images/girl.jpg';

    //export let inner = false;


    let isStartedPlaying = false;
    let pausedByScrolling = null;

    let scrollY;
    let player;
    let playerContainer;

    let isPlaying = false;


    function onClick(event) {

        player.loadVideoById(youtubeId);

        if (isPlaying) {
            pause();
        } else {
            play();
        }

    }

    function loadVideo() {
        // 16x9
        let koef = 9/16;

        player = YouTubePlayer(playerContainer, {
            videoId: 'M7lc1UVf-VE',
            width: '100%',
            height: playerContainer.offsetWidth * koef,
            playerVars: {
                'autoplay': 0,
                'controls': 1,
                'modestbranding': 1,
                'rel': 0,
            },
        });

        player.on('stateChange', (event) => {
            if (event.data == 1 || event.data == 3) {
                isPlaying = true;
            } else {
                isPlaying = false;
            }
        });
    }

    function play() {
        isStartedPlaying = true;
        player.playVideo();
    }

    function pause() {
        // isPlaying = false;
        player.pauseVideo();
    }

    function onLoaded() {
    //     dispatch('load');
    }

    onMount(async() => {

        loadVideo();

        return () => {
            try {
            } catch (error) {}
        }
    });

</script>

<!-- <svelte:window on:mousewheel={onWheel} bind:scrollY={scrollY}/> -->

<div class="youtube-video" on:click="{onClick}" class:isStartedPlaying class:isPlaying>
    <div class="cover">
        <img on:load|once={onLoaded} class="image image__cover" alt="" src={cover} style="opacity: 1;">
    </div>
    <div class="iframe">
        <div class="video-player" bind:this={playerContainer}></div>
    </div>
    <div class="mobile-play-button" > </div>
</div>

<style lang="scss">

    .youtube-video {
        position: relative;
        background-color: #000;
        cursor: url('/assets/img/play.png'),auto;

        &.isPlaying {

            cursor: url('/assets/img/pause.png'),auto;

            .mobile-play-button {
                background-image: url('/assets/img/pause.png');
            }

            .image__cover {
                display: none;
            }
        }

        &.isStartedPlaying {

            .image__cover {
                display: none;
            }
        }
    }

    .iframe {
        > * {
            display: block;

        }
    }

    .image {
        position: absolute;

        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .video {
        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }

    .scrolldown {

		> span {
			position: absolute;
			width: 0;
			height: 0;
			left: 50%;
			bottom: 0;

			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #fff;

			margin: 0 0 0 -20px;

			line-height: 60px;

			color: #fff;
			text-align: center;
			font-size: 70px;
			z-index: 100;
			animation: scrolldown_animate 2s ease-in-out infinite;
        }

        @media #{$breakpoint-sm-down} {
            display: none;
        }
    }

    .mobile-play-button {
        position: relative;
        bottom: 50px;
        left: 0;
        right: 0;

        width: 75px;
        height: 20px;

        margin: auto;

        background-image: url('/assets/img/play.png');
        background-size: 100%;
        background-position: center;

        @media #{$breakpoint-md-up} {
            display: none;
        }
    }

	@keyframes scrolldown_animate {
		0%   { opacity: 0; transform: translateY(-20px); }
		50%  { opacity: 1; }
		100% { opacity: 0; transform: translateY(20px); }
	}
</style>
