<script>
    export let isScaled = false
    export let src = '/assets/test-images/video.webm';

    var fileExtentionPattern=/\.[0-9a-z]+$/i;

    function noExtention(string) {
        let extention = string.match(fileExtentionPattern);
        return string.replace(extention,'');
    }
</script>


<div class="image-video cover" class:isScaled >
    <figure class="video-wrapper video-wrapper__cover">
        <video class="video video__cover"
            preload="metadata"
            playsinline
            loop
            autoplay
            muted
        >
            <source src="{noExtention(src)}.webm" type="video/webm">
            <source src="{noExtention(src)}.mp4"  type="video/mp4">
        </video>
    </figure>
</div>



<style lang="scss">
    figure {
        padding: 0;
        margin: 0;

        width: 100%;
        height: 100%;
    }

    .image-video.isScaled {
        transform: scale(1.4);
    }

    .cover {
        height: 100%;
    }

    .video {
        display: block;
        width: 100%;
        height: 100%;

        &__cover {
            object-fit: cover;
            object-position: 50% 50%;
        }
    }
</style>
