<script context="module">
export async function preload(page, session) {
    const { slug } = page.params
    const res = await this.fetch(`/case/${slug}.json`)
	const item = await res.json()
    return { item }
}
</script>

<script>
    import { onMount, onDestroy } from 'svelte';

    import Section from "Section";
    import Image from 'Image';
    import Video from 'Video';
    import VideoPlayable from 'VideoPlayable';
    import VideoVimeo from 'VideoVimeo';
    // import VideoYoutube from 'VideoYoutube';
    import Text from 'Text';

    import NextPrev from 'NextPrev';

    import List from './_helpers/ListRender.svelte';

    export let item
</script>

<Section sectionClass={"case"}>
    <div class="row padding-col">
        <div class="col-xs-12" >
            <div class="item">
                <h1 class="page-title__title">{item.title}</h1>
            </div>
        </div>
    </div>

    {#if item.titleBlock && item.titleBlock != '' }
    <List blocks="{[item.titleBlock]}" rowclass="padding-col"/>
    {/if}

    <div class="row padding-col">
        {#if item.description != '' }
        <div class="item description">
            <Text text={item.description}/>
        </div>
        {/if}
        <List blocks="{item.blocks}" />
    </div>

    <div class="row padding-col spacer"></div>

    <NextPrev prev={item.prev} next={item.next} urlbase='/case/' />
</Section>

<style lang="scss">
    .item {
        width: 100%;
    }
    .description {
        padding: rem(20) 0;
    }
    .spacer {
        height: rem($gutter*10);
    }
</style>
