<script>
    import Image from '../../../components/Image.svelte';

    export let index = 0;
    export let title = '';
    export let body = '';
    export let img = '';

</script>

<div class="row">

    {#if index % 2 == 0}
        <div class="col-xs-12 col-md-7">
            <div class="image padding-col">
                <Image src={img}/>
            </div>
        </div>
        <div class="col-xs-12 col-md-5">
            <div class="text padding-col">
                <h4>{title}</h4>
                <div class="body">
                    {@html body}
                </div>
            </div>
        </div>
    {:else}
        <div class="col-xs-0 col-md-1"></div>
        <div class="col-xs-12 col-md-5 ">
            <div class="text padding-col">
                <h4>{title}</h4>
                <div class="p body">
                    {@html body}
                </div>
            </div>
        </div>
         <div class="col-xs-12 col-md-5 first-xs-only">
            <div class="image padding-col">
                <Image src={img}/>
            </div>
        </div>
        <div class="col-xs-0 col-md-1"></div>
    {/if}

</div>

<style lang="scss">
    .row {
        margin-bottom: rem(70);

        @media #{$breakpoint-sm-down} {
            margin-bottom: rem(40);
        }
    }
    .text {
        margin-top: rem(80);

        h4 {
            margin-bottom: rem(10);
        }

        @media #{$breakpoint-sm-down} {
            margin-top: rem(20);
        }
    }



    .first-xs-only {
        .image {
            height: 700px;;
        }
        @media #{$breakpoint-sm-down} {
            order: -1;
        }
    }
</style>
