<script>
    import Section from "Section";
    import Image from 'Image';

</script>
<Section sectionClass={"services"}>
    <div class="row">

        <div class="col-xs-12 ">
            <div class="padding-col">
                <h1>About us</h1>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-md-7">
                    <div class="image padding-col">
                        <Image src="{'/assets/img/aboutus/team3.jpg'}" />
                    </div>
                </div>
                <div class="col-xs-12 col-md-5">
                    <div class="text padding-col">
                        <!-- <h4>Big team! #ddb</h4> -->
                        <div class="body">
                            <p>We are a full service agency, part of the <a href="https://nordddb.com/">NORD DDB</a> micro-network within the DDB international network.</p>
                            <p>We are here to break brands into culture.</p>
                            <p>We are here to look at your business through what is happening tomorrow.</p>
                            <p>We are here to make brands meaningful, distinct and valuable.</p>
                            <p>We are here to have fun.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Section>

<style lang="scss">
    section {
        padding-top: rem(140);
        min-height: 100vh;
    }

    .row {
        margin-bottom: rem(70);

        @media #{$breakpoint-sm-down} {
            margin-bottom: rem(40);
        }
    }
    .text {
        margin-top: rem(80);

        h4 {
            margin-bottom: rem(10);
        }

        @media #{$breakpoint-sm-down} {
            margin-top: rem(20);
        }
    }
</style>
