<script context="module">
export async function preload(page, session) {
    const { slug } = page.params
    const res = await this.fetch(`/champions-breakfast/post/${slug}.json`)

    if (res.status === 200) {
        const item = await res.json()
        console.log('item::',item);
        return { item }
    }

    this.error(404, 'Not found');
}
</script>

<script>
    import { onMount, onDestroy } from 'svelte';
    import Section from "Section";

    import Image from 'Image';
    import VideoVimeo from 'VideoVimeo';
    import Text from 'Text';
    import NextPrev from 'NextPrev';

    export let item;
</script>

<Section sectionClass={"champions"}>
    <div class="row padding-col">
        <div class="col-md-12" >
            <div class="item">
                <h1 class="page-title__title">{item.title}</h1>
            </div>
        </div>

        <div class="item">
            <VideoVimeo videoId={item.vimeoId}/>
        </div>
    </div>

    <div class="row padding-col">
        {#if item.description != '' }
        <div class="item description">
            <Text text={item.description}/>
        </div>
        {/if}
    </div>

    <div class="row padding-col spacer"></div>

    <NextPrev prev={item.prev} next={item.next} urlbase='/champions-breakfast/post/' />
</Section>

<style lang="scss">
    .item {
        width: 100%;
    }
    .description {
        padding: rem(20) 0;
    }
    .spacer {
        height: rem($gutter*10);
    }
</style>
